$main-color-dark: rgba(255, 206, 28, 1);
$main-color-dark-085: rgba(255, 206, 28, 0.85);
$main-color-dark-075: rgba(255, 206, 28, 0.75);
$main-color-dark-050: rgba(255, 206, 28, 0.50);
$main-color-dark-010: rgba(255, 206, 28, 0.10);
$text-color-dark: rgba(255, 255, 255, 1);
$header-text-color-dark: rgba(255, 255, 255, 0.7);
$header-btn-hover-color-dark: rgba(255, 255, 255, 1);
$header-btn-border-color-dark: rgba(255, 255, 255, 0.19);
$catalog-menu-background-dark: rgba(0, 0, 0, 0.85);
$home-slider-btn-border-dark: rgba(255, 255, 255, 0.3);
$fixed-header-dark: rgba(74, 77, 80, 0.6);
$fixed-header-before-dark: rgba(74, 77, 80, 1);
$home-slider-bg-dark: rgba(255, 255, 255, 1);
$home-slider-arrow-dark: rgba(197, 197, 197, 1);
$home-slider-pagination-dark: rgba(255, 255, 255, 0.3);
$home-product-nav-text-dark: rgba(255, 255, 255, 0.25);
$home-product-nav-border-dark: rgba(255, 255, 255, 0.3);
$product-default-bg-dark: rgba(60, 62, 65, 1);
$product-default-border-dark: rgba(255, 255, 255, 0.3);
$product-default-hover-border-dark: rgba(255, 255, 255, 0.5);
$product-default-aditional-border-dark: rgba(255, 255, 255, 0.3);
$example-product-dark: rgba(73, 76, 80, 1);
$white-dark: rgba(255, 255, 255);
$white-030-dark: rgba(255, 255, 255, 0.3);
$white-035-dark: rgba(255, 255, 255, 0.35);
$white-040-dark: rgba(255, 255, 255, 0.4);
$white-060-dark: rgba(255, 255, 255, 0.6);
$subscribe-bg-dark: rgba(255, 255, 255, 0.2);
$popup-bg-dark: rgba(0, 0, 0, 0.35);
$popup-close-btn-border-dark: rgba(255, 255, 255, 0.18);
$page-account-left-dark: rgba(255, 255, 255, 0.4);
$you-addresses-table-dark: rgba(76, 75, 75, 1);
$breadcrumbs-dark: rgba(255, 255, 255, 0.4);
$breadcrumbs-active-dark: rgba(255, 255, 255, 1);
$cart-item-bg-dark: rgba(76, 79, 82, 0.7);
$quantity-input-gradient-dark: linear-gradient(to right, rgba(72, 74, 76, 1) 50%, rgba(255, 206, 28, 0.5) 100%);
$product-wishlist-btn-bg-dark: rgb(255, 255, 255);
$product-wishlist-btn-icon-dark: black;
$product-review-bg-dark: rgba(60, 62, 65, 1);

$main-color-light: rgba(208, 75, 75, 1);
$main-color-light-085: rgba(208, 75, 75, 0.85);
$main-color-light-075: rgba(208, 75, 75, 0.75);
$main-color-light-050: rgba(208, 75, 75, 0.50);
$main-color-light-010: rgba(208, 75, 75, 0.1);
$text-color-light: rgba(33, 33, 33, 1);
$header-text-color-light: rgba(114, 114, 114, 0.7);
$header-btn-hover-color-light: rgba(255, 255, 255, 1);
$header-btn-border-color-light: rgba(0, 0, 0, 0.19);
$catalog-menu-background-light: rgba(255, 255, 255, 0.85);
$home-slider-btn-border-light: rgba(124, 124, 124, 0.3);
$fixed-header-light: rgba(220, 220, 220, 0.6);
$fixed-header-before-light: rgba(214, 214, 214, 1);
$home-slider-bg-light: rgba(130, 130, 130, 0.8);
$home-slider-arrow-light: rgba(33, 33, 33, 1);
$home-slider-pagination-light: rgba(124, 124, 124, 0.3);
$home-product-nav-text-light: rgba(38, 38, 38, 0.25);
$home-product-nav-border-light: rgba(38, 38, 38, 0.3);
$product-default-bg-light: rgba(0, 0, 0, 0.08);
$product-default-border-light: rgba(128, 128, 128, 0.6);
$product-default-hover-border-light: rgba(128, 128, 128, 0.6);
$product-default-aditional-border-light: rgba(128, 128, 128, 0.4);
$example-product-light: rgba(73, 76, 80, 0.2);
$white-light: rgba(0, 0, 0, 0.35);
$white-030-light: rgba(38, 38, 38, 0.66);
$white-035-light: rgba(134, 132, 130, 0.65);
$white-040-light: rgba(38, 38, 38, 0.66);
$white-060-light: rgba(38, 38, 38, 0.62);
$subscribe-bg-light: rgba(0, 0, 0, 0.1);
$popup-bg-light: rgba(255, 255, 255, 0.63);
$popup-close-btn-border-light: rgba(38, 38, 38, 0.18);
$page-account-left-light: rgba(134, 132, 130, 1);
$you-addresses-table-light: rgba(255, 255, 255, 0.6);
$breadcrumbs-light: rgba(38, 38, 38, 0.66);
$breadcrumbs-active-light: rgba(38, 38, 38, 1);
$cart-item-bg-light: rgba(165, 165, 165, 0.3);
$quantity-input-gradient-light: linear-gradient(to right, rgb(72, 74, 76, 0.2) 50%, rgba(208, 75, 75, 0.5) 100%);
$product-wishlist-btn-bg-light: rgba(72, 74, 76, 0.2);
$product-wishlist-btn-icon-light: black;
$product-review-bg-light: rgba(72, 74, 76, 0.2);












