$main-color-dark: #FFCE1C;
$main-color-dark-085: #ffce1cd9;
$main-color-dark-075: #FFCE1CBF;
$main-color-dark-010: #FFCE1C1A;
$text-color-dark: #FFFFFF;
$header-text-color-dark: #ffffffb3;
$header-btn-hover-color-dark: #ffffff;
$header-btn-border-color-dark: #ffffff30;
$catalog-menu-background-dark: #000000d9;
$home-slider-btn-border-dark: #ffffff4d;
$fixed-header-dark: #4A4D5099;
$fixed-header-before-dark: #4A4D50;
$home-slider-bg-dark: #fff;
$home-slider-arrow-dark: #c5c5c5;
$home-slider-pagination-dark: #ffffff4d;
$home-product-nav-text-dark: #ffffff40;
$home-product-nav-border-dark: #ffffff4d;
$product-default-bg-dark: #3c3e41;
$product-default-border-dark: #ffffff4d;
$product-default-hover-border-dark: #ffffff80;
$product-default-aditional-border-dark: #ffffff4d;
$example-product-dark: #494C50;
$white-030-dark: #ffffff4d;
$subscribe-bg-dark: #ffffff33;
$popup-bg-dark: #00000059;
$popup-close-btn-border-dark: #ffffff2e;
$page-account-left-dark: #ffffff66;
$you-addresses-table-dark: #4c4b4b;
$breadcrumbs-dark: #ffffff66;
$breadcrumbs-active-dark: #ffffff;
$delivery-text-dark: #ffffffa8;

$main-color-light: #D04B4B;
$main-color-light-085: #D04B4Bd9;
$main-color-light-075: #D04B4BBF;
$main-color-light-010: #D04B4B1A;
$text-color-light: #212121;
$header-text-color-light: #727272b3;
$header-btn-hover-color-light: #ffffff;
$header-btn-border-color-light: #00000030;
$catalog-menu-background-light: #ffffffd9;
$home-slider-btn-border-light: #7c7c7c4d;
$fixed-header-light: #dcdcdc99;
$fixed-header-before-light: #d6d6d6;
$home-slider-bg-light: #828282cc;
$home-slider-arrow-light: #212121;
$home-slider-pagination-light: #7c7c7c4d;
$home-product-nav-text-light: #26262640;
$home-product-nav-border-light: #2626264d;
$product-default-bg-light: #00000014;
$product-default-border-light: #80808099;
$product-default-hover-border-light: #80808099;
$product-default-aditional-border-light: #80808066;
$example-product-light: #494C5033;
$white-030-light: #262626a8;
$subscribe-bg-light: #0000001a;
$popup-bg-light: #ffffffa1;
$popup-close-btn-border-light: #2626262e;
$page-account-left-light: #868482;
$you-addresses-table-light: #ffffff99;
$breadcrumbs-light: #262626a8;
$breadcrumbs-active-light: #262626;
$delivery-text-light: #2626269e;












