@import "variables";

$mod-main-color: $main-color-light;
$mod-main-color-075: $main-color-light-075;
$mod-page-account-left: $page-account-left-light;
$mod-you-addresses-table: $you-addresses-table-light;
$mod-text-color: $text-color-light;
$mod-white-030: $white-030-light;



@import "account-general";
