@import "variables";

$mod-main-color: $main-color-dark;
$mod-main-color-075: $main-color-dark-075;
$mod-page-account-left: $page-account-left-dark;
$mod-you-addresses-table: $you-addresses-table-dark;
$mod-text-color: $text-color-dark;
$mod-white-030: $white-030-dark;

@import "account-general";
