@import "variables";

$mod-main-color: $main-color-dark;
$mod-main-color-075: $main-color-dark-075;
$mod-product-default-bg: $product-default-bg-dark;
$mod-product-default-border: $product-default-border-dark;
$mod-white: $white-dark;
$mod-white-035: $white-035-dark;
$mod-text-color: $text-color-dark;
$mod-popup-bg: $popup-bg-dark;
$mod-popup-close-btn-border: $popup-close-btn-border-dark;


@import "all-general";
