@import "variables";

$mod-main-color: $main-color-dark;
$mod-main-color-075: $main-color-dark-075;
$mod-product-default-bg: $product-default-bg-dark;
$mod-product-default-border: $product-default-border-dark;

@import "all-general";
