.ocf-noUi-target, .ocf-noUi-target * {
  -webkit-touch-callout: none;
  -webkit-tap-highlight-color: rgba(0, 0, 0, 0);
  -webkit-user-select: none;
  -ms-touch-action: none;
  touch-action: none;
  -ms-user-select: none;
  -moz-user-select: none;
  user-select: none;
  -moz-box-sizing: border-box;
  box-sizing: border-box
}

.ocf-noUi-base, .ocf-noUi-connects {
  width: 100%;
  height: 18px;
  position: relative;
  z-index: 1
}

.ocf-noUi-connect, .ocf-noUi-origin {
  will-change: transform;
  position: absolute;
  z-index: 1;
  top: 0;
  right: 0;
  -ms-transform-origin: 0 0;
  -webkit-transform-origin: 0 0;
  -webkit-transform-style: preserve-3d;
  transform-origin: 0 0;
  transform-style: flat
}

.ocf-noUi-connect {
  height: 100%;
  width: 100%
}

.ocf-noUi-origin {
  height: 10%;
  width: 10%
}

.ocf-noUi-txt-dir-rtl .ocf-noUi-origin {
  left: 0;
  right: auto
}

.ocf-noUi-origin {
  height: 0
}

.ocf-noUi-handle {
  -webkit-backface-visibility: hidden;
  backface-visibility: hidden;
  position: absolute
}

.ocf-noUi-touch-area {
  height: 100%;
  width: 100%
}

.ocf-noUi-state-tap .ocf-noUi-connect, .ocf-noUi-state-tap .ocf-noUi-origin {
  -webkit-transition: transform 0.3s;
  transition: transform 0.3s
}

.ocf-noUi-state-drag * {
  cursor: inherit !important
}

.ocf-noUi-handle {
  width: 24px;
  height: 24px;
  right: -13px;
  top: -3px
}

.ocf-noUi-txt-dir-rtl .ocf-noUi-handle {
  left: -13px;
  right: auto
}

.ocf-noUi-base:before, .ocf-noUi-connect:before {
  content: "";
  border-radius: 20px;
  width: 100%;
  height: 4px;
  position: absolute;
  top: 50%;
  margin-top: -2px
}

.ocf-noUi-base:before {
  background-color: #eceef2
}

.ocf-noUi-connect:before, .ocf-noUi-handle {
  background-color: #3366d5
}

.ocf-noUi-connects:before, .ocf-noUi-connects:after {
  content: "";
  border-radius: 100%;
  position: absolute;
  background-color: #eceef2;
  width: 10px;
  height: 10px;
  top: 50%;
  margin-top: -5px
}

.ocf-noUi-connects:before {
  left: 0;
  margin-left: -5px
}

.ocf-noUi-connects:after {
  right: 0;
  margin-right: -5px
}

.ocf-noUi-draggable {
  cursor: ew-resize
}

.ocf-noUi-handle {
  border: 3px solid #fff;
  border-radius: 100%;
  cursor: default;
  box-shadow: 0 3px 6px -3px #bbb
}

.ocf-loading .ocf-noUi-handle {
  background-image: linear-gradient(45deg, rgba(255, 255, 255, .4) 25%, transparent 25%, transparent 50%, rgba(255, 255, 255, .40) 50%, rgba(255, 255, 255, .40) 75%, transparent 75%, transparent);
  background-size: 1rem 1rem;
  -webkit-animation: progresss 600ms linear infinite;
  animation: ocf-progress 600ms linear infinite
}

.ocf-noUi-active {
  box-shadow: 0 0 0 6px #3366d540
}

[disabled].ocf-noUi-handle, [disabled] .ocf-noUi-handle, [disabled] .ocf-noUi-connect:before, .ocf-loading .ocf-noUi-connect:before {
  background-color: #AEB5BD
}

[disabled].ocf-noUi-target, [disabled].ocf-noUi-handle, [disabled] .ocf-noUi-handle {
  cursor: not-allowed
}

.ocf-noUi-pips, .ocf-noUi-pips * {
  -moz-box-sizing: border-box;
  box-sizing: border-box
}

.ocf-noUi-pips {
  position: relative;
  color: #999;
  padding: 10px 0 0;
  height: 45px
}

.ocf-noUi-value {
  position: absolute;
  margin-top: 15px;
  top: 0;
  white-space: nowrap;
  text-align: center;
  font-size: 11px;
  -webkit-transform: translate(-50%, 50%);
  transform: translate(-50%, 50%)
}

.ocf-noUi-marker:first-child + .ocf-noUi-value, .ocf-noUi-value:last-child {
  color: #555
}

.ocf-noUi-rtl .ocf-noUi-value {
  -webkit-transform: translate(50%, 50%);
  transform: translate(50%, 50%)
}

.ocf-noUi-value-sub {
  color: #ccc;
  font-size: 10px
}

.ocf-noUi-marker {
  position: absolute;
  background: #CCC;
  margin-left: -1px;
  width: 2px;
  margin-top: 6px;
  height: 3px
}

.ocf-noUi-marker:first-child, .ocf-noUi-marker[style*="100%"] {
  height: 10px;
  margin-top: 0
}

@keyframes ocf-progress {
  from {
    background-position: 0 0
  }
  to {
    background-position: 1rem 0
  }
}

.ocf-text-right {
  text-align: right !important
}

.ocf-text-center {
  text-align: center !important
}

.ocf-btn {
  display: inline-block;
  padding: 6px 12px;
  margin-bottom: 0;
  font-size: 14px;
  font-weight: 400;
  line-height: 1.42857143;
  text-align: center;
  white-space: nowrap;
  vertical-align: middle;
  -ms-touch-action: manipulation;
  touch-action: manipulation;
  cursor: pointer;
  -webkit-user-select: none;
  -moz-user-select: none;
  -ms-user-select: none;
  user-select: none;
  background-image: none;
  background-color: #ECEEF2;
  border: none;
  border-radius: 4px
}

[role="button"] {
  cursor: pointer
}

.ocf-btn:focus, .ocf-btn:active:focus {
  outline: none
}

.ocf-btn:hover, .ocf-btn:focus {
  color: #333;
  text-decoration: none
}

.ocf-btn:active {
  background-image: none;
  outline: 0;
  -webkit-box-shadow: inset 0 3px 6px rgba(0, 0, 0, .2);
  box-shadow: inset 0 3px 6px rgba(0, 0, 0, .2)
}

.ocf-btn.ocf-disabled, .ocf-btn[disabled] {
  cursor: not-allowed;
  filter: alpha(opacity=65);
  -webkit-box-shadow: none;
  box-shadow: none;
  opacity: .65
}

a.ocf-btn.ocf-disabled {
  pointer-events: none
}

.ocf-btn-link {
  font-weight: 400;
  color: #337ab7;
  border-radius: 0
}

.ocf-btn-link, .ocf-btn-link:active, .ocf-btn-link[disabled] {
  background-color: transparent;
  -webkit-box-shadow: none;
  box-shadow: none
}

.ocf-btn-link:hover, .ocf-btn-link:focus {
  color: #23527c;
  text-decoration: underline;
  background-color: transparent
}

.ocf-btn-link[disabled], .ocf-btn-link[disabled]:hover, .ocf-btn-link[disabled]:focus {
  color: #777;
  text-decoration: none
}

.ocf-btn-block {
  display: block;
  width: 100%
}

.ocf-collapse {
  display: none
}

.ocf-collapse.ocf-in {
  display: block
}

.ocf-collapsing {
  position: relative;
  height: 0;
  overflow: hidden;
  -webkit-transition-property: height, visibility;
  -o-transition-property: height, visibility;
  transition-property: height, visibility;
  -webkit-transition-duration: .35s;
  -o-transition-duration: .35s;
  transition-duration: .35s;
  -webkit-transition-timing-function: ease;
  -o-transition-timing-function: ease;
  transition-timing-function: ease
}

.ocf-input-group {
  position: relative;
  display: flex;
  flex-wrap: nowrap;
  width: 100%;
  column-gap: 10px
}

.ocf-slider-input-group {
  margin-bottom: -5px;
  padding-top: 15px
}

.ocf-input-group .ocf-form-control {
  position: relative;
  z-index: 2;
  margin-bottom: 0
}

.ocf-input-group .ocf-form-control:focus {
  z-index: 3
}

.ocf-input-group-addon, .ocf-input-group-btn, .ocf-input-group .ocf-form-control {
  display: table-cell
}

.ocf-form-control, input.ocf-form-control {
  display: block;
  width: 100%;
  height: 36px;
  padding: 10px 12px;
  margin: 0;
  font-style: normal;
  font-weight: 500;
  font-size: 16px;
  line-height: 120%;
  letter-spacing: .5px;
  color: rgb(255 255 255 / 35%);
  background-color: transparent;
  background-image: none;
  border: 1px solid rgb(255 255 255 / 35%);
  border-radius: 3px;
  box-shadow: none;
  transition: border-color ease-in-out .15s, box-shadow ease-in-out .15s, background-color ease-in-out .2s
}

.ocf-form-control:focus, input.ocf-form-control:focus, textarea.ocf-form-control:focus {
  outline: 0
}

.ocf-form-control::-moz-placeholder {
  color: #999;
  opacity: 1
}

.ocf-form-control:-ms-input-placeholder {
  color: #999
}

.ocf-form-control::-webkit-input-placeholder {
  color: #999
}

.ocf-form-control::-ms-expand {
  background-color: transparent;
  border: 0
}

.ocf-form-control[disabled], .ocf-form-control[readonly] {
  background-color: #eee;
  opacity: 1
}

.ocf-form-control[disabled] {
  cursor: not-allowed
}

.ocf-invisible {
  visibility: hidden
}

.ocf-hidden {
  display: none !important
}

.ocf-clearfix::before, .ocf-clearfix::after {
  display: table;
  content: "";
  clear: both;
  width: 100%
}

@-ms-viewport {
  width: device-width
}

.ocf-form-control[type="number"]::-webkit-outer-spin-button, .ocf-form-control[type="number"]::-webkit-inner-spin-button {
  -webkit-appearance: none;
  margin: 0
}

.ocf-form-control[type="number"] {
  -moz-appearance: textfield
}

.ocf-icon {
  background-repeat: no-repeat;
  background-position: center;
  background-size: contain;
  min-width: 12px;
  min-height: 12px;
  display: inline-block;
  vertical-align: middle
}

.ocf-icon-16 {
  min-width: 16px;
  min-height: 16px
}

.ocf-sliders {
  background-image: url("data:image/svg+xml,%3csvg xmlns='http://www.w3.org/2000/svg' fill='%23777' width='16' height='16' viewBox='0 0 16 16'%3e%3cpath d='M11.5 2a1.5 1.5 0 1 0 0 3 1.5 1.5 0 0 0 0-3zM9.05 3a2.5 2.5 0 0 1 4.9 0H16v1h-2.05a2.5 2.5 0 0 1-4.9 0H0V3h9.05zM4.5 7a1.5 1.5 0 1 0 0 3 1.5 1.5 0 0 0 0-3zM2.05 8a2.5 2.5 0 0 1 4.9 0H16v1H6.95a2.5 2.5 0 0 1-4.9 0H0V8h2.05zm9.45 4a1.5 1.5 0 1 0 0 3 1.5 1.5 0 0 0 0-3zm-2.45 1a2.5 2.5 0 0 1 4.9 0H16v1h-2.05a2.5 2.5 0 0 1-4.9 0H0v-1h9.05z'/%3e%3c/svg%3e")
}

.ocf-angle {
  background-image: url("data:image/svg+xml,%3csvg xmlns='http://www.w3.org/2000/svg' fill='%23777' width='12' height='12' viewBox='0 0 16 16'%3e%3cpath d='M7.646 4.646a.5.5 0 0 1 .708 0l6 6a.5.5 0 0 1-.708.708L8 5.707l-5.646 5.647a.5.5 0 0 1-.708-.708l6-6z'/%3e%3c/svg%3e")
}

.ocf-angle-right {
  transform: rotate(90deg)
}

.ocf-angle-down {
  transform: rotate(180deg)
}

.ocf-angle-left {
  transform: rotate(-90deg)
}

.ocf-arrow-long {
  background-image: url("data:image/svg+xml,%3csvg xmlns='http://www.w3.org/2000/svg' fill='%23777' width='16' height='16' viewBox='0 0 16 16'%3e%3cpath d='M8 15a.5.5 0 0 0 .5-.5V2.707l3.146 3.147a.5.5 0 0 0 .708-.708l-4-4a.5.5 0 0 0-.708 0l-4 4a.5.5 0 1 0 .708.708L7.5 2.707V14.5a.5.5 0 0 0 .5.5z'/%3e%3c/svg%3e")
}

.ocf-arrow-right {
  transform: rotate(90deg)
}

.ocf-arrow-down {
  transform: rotate(180deg)
}

.ocf-arrow-left {
  transform: rotate(-90deg)
}

.ocf-times-circle {
  background-image: url("data:image/svg+xml,%3csvg xmlns='http://www.w3.org/2000/svg' fill='%236B7275' width='16' height='16' viewBox='0 0 16 16'%3e%3cpath d='M16 8A8 8 0 1 1 0 8a8 8 0 0 1 16 0zM5.354 4.646a.5.5 0 1 0-.708.708L7.293 8l-2.647 2.646a.5.5 0 0 0 .708.708L8 8.707l2.646 2.647a.5.5 0 0 0 .708-.708L8.707 8l2.647-2.646a.5.5 0 0 0-.708-.708L8 7.293 5.354 4.646z'/%3e%3c/svg%3e")
}

.ocf-times {
  background-image: url("data:image/svg+xml,%3csvg xmlns='http://www.w3.org/2000/svg' fill='%236B7275' width='16' height='16' viewBox='0 0 16 16'%3e%3cpath d='M1.293 1.293a1 1 0 0 1 1.414 0L8 6.586l5.293-5.293a1 1 0 1 1 1.414 1.414L9.414 8l5.293 5.293a1 1 0 0 1-1.414 1.414L8 9.414l-5.293 5.293a1 1 0 0 1-1.414-1.414L6.586 8 1.293 2.707a1 1 0 0 1 0-1.414z'/%3e%3c/svg%3e")
}

.ocf-help-circle {
  background-image: url("data:image/svg+xml,%3csvg xmlns='http://www.w3.org/2000/svg' fill='%23000' width='16' height='16' viewBox='0 0 16 16'%3e%3cpath d='M16 8A8 8 0 1 1 0 8a8 8 0 0 1 16 0zM5.496 6.033h.825c.138 0 .248-.113.266-.25.09-.656.54-1.134 1.342-1.134.686 0 1.314.343 1.314 1.168 0 .635-.374.927-.965 1.371-.673.489-1.206 1.06-1.168 1.987l.003.217a.25.25 0 0 0 .25.246h.811a.25.25 0 0 0 .25-.25v-.105c0-.718.273-.927 1.01-1.486.609-.463 1.244-.977 1.244-2.056 0-1.511-1.276-2.241-2.673-2.241-1.267 0-2.655.59-2.75 2.286a.237.237 0 0 0 .241.247zm2.325 6.443c.61 0 1.029-.394 1.029-.927 0-.552-.42-.94-1.029-.94-.584 0-1.009.388-1.009.94 0 .533.425.927 1.01.927z'/%3e%3c/svg%3e")
}

.ocf-minus-circle {
  background-image: url("data:image/svg+xml,%3csvg xmlns='http://www.w3.org/2000/svg' fill='%23666' width='16' height='16' viewBox='0 0 16 16'%3e%3cpath d='M16 8A8 8 0 1 1 0 8a8 8 0 0 1 16 0zM4.5 7.5a.5.5 0 0 0 0 1h7a.5.5 0 0 0 0-1h-7z'/%3e%3c/svg%3e")
}

.ocf-between {
  display: flex !important;
  justify-content: space-between;
  flex-wrap: nowrap;
  align-items: center
}

.ocf-collapse, .ocf-collapsing {
  width: 100%
}

[aria-expanded="false"] > .ocf-hide-expand-0 {
  display: none
}

[aria-expanded="true"] > .ocf-hide-expand-1 {
  display: none
}

.ocf-is-mobile {
  display: none;
  height: 0;
  overflow: hidden
}

.ocf-mobile {
  display: none
}

.ocf-container, .ocf-filter-list {
  overflow-anchor: auto
}

.ocf-header {
  font-weight: 500;
  font-size: 14px;
  line-height: 21px;
  text-transform: uppercase;
  color: #fff
}

.ocf-header .ocf-brand {
  margin-right: 10px
}

.ocf-header .ocf-close-mobile {
  display: none
}

.ocf-hidden-filters-divider {
  margin-bottom: 45px;
  position: relative;
  top: 15px;
  text-align: center;
  height: 1px
}

.ocf-hidden-filters-divider > span {
  cursor: pointer;
  padding: 1px 10px;
  border-radius: 15px;
  vertical-align: top;
  margin-top: -10px;
  display: inline-block
}

.ocf-filter-header {
  display: flex;
  align-items: center;
  font-style: normal;
  line-height: 1.5;
  cursor: pointer
}

.ocf-more-selected {
  background-color: rgba(0 0 0 / 12%);
  padding: 1px 5px;
  border-radius: 2px;
  font-size: 12px;
  color: #444
}

.ocf-filter-name, .ocf-active-label {
  font-size: inherit;
  font-weight: inherit;
  line-height: inherit
}

.ocf-filter-header-append {
  margin-left: auto;
  display: flex;
  align-items: center;
  order: 9
}

.ocf-filter-header-append > * {
  min-width: 16px
}

.ocf-filter-discard {
  display: none;
  cursor: pointer
}

.ocf-collapse-value .ocf-value-list {
  border-top: 1px solid #e0e1e5;
  margin-top: 10px
}

.ocf-collapse-value .ocf-value-list-body {
  padding-top: 10px
}

.ocf-value-list-body {
  display: flex;
  flex-wrap: wrap;
  column-gap: 10px;
  row-gap: 10px
}

.ocf-theme-light .ocf-footer .ocf-btn, .ocf-value, .ocf-value:active, .ocf-value:focus, .ocf-value:visited, .ocf-value:hover {
  cursor: pointer;
  display: inline-flex;
  flex-wrap: nowrap;
  align-items: flex-start;
  text-decoration: none;
  padding: 10px 12px;
  margin-bottom: 0;
  text-transform: none;
  background: transparent;
  box-shadow: none;
  outline: 0;
  border: 1px solid rgb(255 255 255 / 35%);
  border-radius: 3px;
  font-style: normal;
  font-weight: 500;
  font-size: 16px;
  line-height: 16px;
  text-align: center;
  letter-spacing: 0;
  color: rgb(255 255 255);
  position: relative;
  @media screen and (max-width: 768px) {
    font-size: 13px;
  }
}



.ocf-theme-light .ocf-footer .ocf-btn {
  width: 100%;
  justify-content: center;
  background: #000000c2
}

.ocf-theme-light .ocf-footer .ocf-btn-block {
  color: #FFCE1C;
  border-color: #FFCE1C;
  margin-left: 10px
}

.ocf-theme-light .ocf-footer .ocf-btn-block .ocf-btn-label {
  margin: 0 3px
}

.ocf-value .ocf-value-append {
font-size: 14px;
}

.ocf-value:last-child {
  margin-bottom: 0
}

.ocf-value.ocf-disabled, .ocf-value[disabled], .ocf-value:disabled {
  color: rgba(255, 255, 255, 0.35);
  cursor: not-allowed;
  border-color: rgb(255 255 255 / 35%)
}

.ocf-selected, .ocf-selected:active, .ocf-selected:focus, .ocf-selected:visited, .ocf-selected:hover {
  border-color: #ffce1c;
  color: #ffce1c
}

.ocf-value-image, .ocf-value-color {
  position: relative;
  width: 22px;
  height: 22px;
  flex: 0 0 22px;
  margin-right: 10px;
  overflow: hidden;
  border: 1px solid transparent;
  border-radius: 50%;
  background-repeat: no-repeat;
  background-size: cover;
  transition: opacity 200ms
}

.ocf-selected .ocf-value-image, .ocf-selected .ocf-value-color {
  box-shadow: inset 0 0 0 2px #fff;
  border-color: #65A2C7
}

.ocf-disabled .ocf-value-image, .ocf-disabled .ocf-value-color {
  opacity: .25;
  filter: saturate(.5)
}

.ocf-value-image + .ocf-value-name, .ocf-value-color + .ocf-value-name {
  align-self: center
}

.ocf-value-input {
  position: absolute;
  width: 16px;
  height: 16px;
  flex: 0 0 16px;
  right: 0;
  top: 50%;
  transform: translate(0, -50%);
  margin: 0
}

.ocf-value-input::after {
  content: "";
  position: absolute;
  top: 0;
  left: 0;
  display: block;
  width: 100%;
  height: 100%
}

.ocf-value .ocf-value-input::after {
  background-repeat: no-repeat;
  background-position: center
}

.ocf-selected .ocf-value-input-checkbox::after {
  background-image: url("data:image/svg+xml,%3csvg xmlns='http://www.w3.org/2000/svg' width='9' height='8' viewBox='0 0 9 8'%3e%3cpath fill='%23ffce1c' d='M2.86519 7.2C2.73505 7.20006 2.60618 7.17189 2.48595 7.11711C2.36573 7.06233 2.25651 6.98202 2.16456 6.88076L0 4.5023L0.825967 3.59465L2.86519 5.8366L8.17403 0L9 0.90765L3.56582 6.88076C3.47388 6.98202 3.36466 7.06233 3.24443 7.11711C3.12421 7.17189 2.99534 7.20006 2.86519 7.2Z'/%3e%3c/svg%3e")
}

.ocf-value.ocf-selected .ocf-value-input-radio::after {
  background-image: url("data:image/svg+xml,%3csvg xmlns='http://www.w3.org/2000/svg' width='9' height='8' viewBox='0 0 9 8'%3e%3cpath fill='%23D04B4B' d='M2.86519 7.2C2.73505 7.20006 2.60618 7.17189 2.48595 7.11711C2.36573 7.06233 2.25651 6.98202 2.16456 6.88076L0 4.5023L0.825967 3.59465L2.86519 5.8366L8.17403 0L9 0.90765L3.56582 6.88076C3.47388 6.98202 3.36466 7.06233 3.24443 7.11711C3.12421 7.17189 2.99534 7.20006 2.86519 7.2Z'/%3e%3c/svg%3e")
}

.ocf-value-name {
  word-break: break-word;
  text-align: left;
  font-size: inherit;
  //color: white
}

.ocf-auto-column .ocf-value-name {
  white-space: nowrap
}

.ocf-auto-column .ocf-value-append {
  min-width: auto
}

.ocf-value-count {
  color: #8684828A;
  margin-left: 5px
}

.ocf-value-count::before {
  content: "("
}

.ocf-value-count::after {
  content: ")"
}

.ocf-value-count .ocf-num-abbr {
  font-weight: 600;
  color: #DB5C68
}

.ocf-disabled .ocf-value-count {
  color: #b5b9c1
}

.ocf-search-btn-static, .ocf-search-btn-popover {
  padding-top: 9px;
  padding-bottom: 9px
}

.ocf-page-list-top, .ocf-page-list-bottom {
  overflow: hidden;
  position: relative;
  z-index: 3
}

.ocf-page-list-top {
  margin-bottom: 5px
}

.ocf-page-list-bottom {
  margin-top: 25px
}

.ocf-page-group {
  margin-bottom: 10px;
  display: flex;
  align-items: start
}

.ocf-page-group-name {
  font-weight: 700;
  font-size: 14px;
  margin-top: 3px;
  margin-right: 15px;
  width: 150px;
  flex: 0 0 150px
}

.ocf-category-page-list {
  max-height: 135px;
  list-style-type: none;
  padding: 0;
  display: flex;
  flex-wrap: wrap;
  margin: 0 -5px;
  overflow-y: scroll;
  overflow-x: hidden
}

.ocf-category-page-list::-webkit-scrollbar {
  width: 8px
}

.ocf-category-page-list::-webkit-scrollbar-track {
  background-color: transparent;
  border-radius: 10px
}

.ocf-category-page-list::-webkit-scrollbar-thumb {
  background-color: #DFE3ED;
  border-radius: 10px
}

.ocf-category-page-list:hover::-webkit-scrollbar-thumb {
  background-color: #9096A4
}

.ocf-category-page-list::-webkit-scrollbar-corner {
  display: none
}

.ocf-category-page-list::-webkit-resizer {
  display: none
}

.ocf-category-page-list li {
  margin-bottom: 10px
}

.ocf-category-page-list a {
  background-color: #eceef2;
  padding: 3px 7px;
  border-radius: 7px;
  color: #3a3c40;
  display: block;
  font-size: 13px;
  align-items: center;
  font-weight: 400;
  margin: 0 5px;
  min-height: 100%;
  text-decoration: none
}

.ocf-category-page-list .ocf-page-selected a {
  background-color: #656565;
  color: #fff
}

.ocf-category-page-list .ocf-page-selected a:after {
  content: "";
  width: 12px;
  height: 12px;
  display: inline-block;
  color: #656565;
  vertical-align: top;
  margin-left: 5px;
  margin-top: 4px;
  background-repeat: no-repeat;
  background-position: center;
  background-image: url("data:image/svg+xml,%3csvg xmlns='http://www.w3.org/2000/svg' width='12' height='12' fill='%23fff' fill-opacity='0.8' viewBox='0 0 16 16'%3e%3cpath d='M16 8A8 8 0 1 1 0 8a8 8 0 0 1 16 0zM5.354 4.646a.5.5 0 1 0-.708.708L7.293 8l-2.647 2.646a.5.5 0 0 0 .708.708L8 8.707l2.646 2.647a.5.5 0 0 0 .708-.708L8.707 8l2.647-2.646a.5.5 0 0 0-.708-.708L8 7.293 5.354 4.646z'/%3e%3c/svg%3e")
}

.ocf-theme-light .ocf-text-danger {
  color: #D1524C
}

.ocf-theme-light .ocf-hidden-filters-divider {
  background-color: #ebebeb
}

.ocf-theme-light .ocf-hidden-filters-divider > span {
  background-color: #eceef2;
  color: #a0a4a6;
  box-shadow: 0 0 0 10px #fff;
  font-size: 13px
}

.ocf-theme-light .ocf-hidden-filters-divider > span:hover {
  background-color: #cbced4;
  color: #575c5f
}

.ocf-theme-light .ocf-hidden-filters-divider > span .ocf-icon {
  filter: brightness(1.3)
}

.ocf-theme-light .ocf-hidden-filters-divider > span:hover .ocf-icon {
  filter: brightness(.7)
}

.ocf-theme-light .ocf-filter-header {
  color: #444
}

.ocf-theme-light .ocf-search-btn-static:hover, .ocf-theme-light .ocf-search-btn-popover:hover {
  background-color: transparent
}

.ocf-theme-light .ocf-search-btn-static:focus, .ocf-theme-light .ocf-search-btn-static:active, .ocf-theme-light .ocf-search-btn-popover:focus, .ocf-theme-light .ocf-search-btn-popover:active {
  background-color: transparent
}

.ocf-theme-light .ocf-search-btn-static, .ocf-theme-light .ocf-search-btn-popover, .ocf-theme-light .ocf-search-btn-static.ocf-disabled, .ocf-theme-light .ocf-search-btn-popover.ocf-disabled {
  background-color: transparent;
  color: #333;
  text-align: center;
  letter-spacing: .24em;
  text-transform: uppercase;
  font-size: 10px;
  padding: 4px 7px;
  font-weight: 600
}

.ocf-theme-light-block .ocf-noUi-connects:before, .ocf-theme-light-block .ocf-noUi-connects:after, .ocf-theme-light-block .ocf-noUi-base:before {
  background-color: #81858c
}

.ocf-theme-light-block .ocf-text-danger {
  color: #D1524C
}

.ocf-theme-light-block .ocf-footer {
  background-color: #fff;
  box-shadow: 0 -10px 10px 0 #fff
}

.ocf-theme-light-block .ocf-hidden-filters-divider {
  background-color: #ebebeb
}

.ocf-theme-light-block .ocf-hidden-filters-divider > span {
  background-color: #eceef2;
  color: #a0a4a6;
  box-shadow: 0 0 0 10px #fff
}

.ocf-theme-light-block .ocf-hidden-filters-divider > span:hover {
  background-color: #cbced4;
  color: #575c5f
}

.ocf-theme-light-block .ocf-hidden-filters-divider > span .ocf-icon {
  filter: brightness(1.3)
}

.ocf-theme-light-block .ocf-hidden-filters-divider > span:hover .ocf-icon {
  filter: brightness(.7)
}

.ocf-theme-light-block .ocf-input-group-addon {
  background-color: #DEE2E6
}

.ocf-theme-light-block .ocf-form-control {
  border-color: #DEE2E6;
  border-width: 2px
}

.ocf-theme-light-block .ocf-search-btn-static:hover, .ocf-theme-light-block .ocf-search-btn-popover:hover {
  background-color: #596063
}

.ocf-theme-light-block .ocf-search-btn-static:focus, .ocf-theme-light-block .ocf-search-btn-static:active, .ocf-theme-light-block .ocf-search-btn-popover:focus, .ocf-theme-light-block .ocf-search-btn-popover:active {
  background-color: #596063
}

.ocf-theme-light-block .ocf-search-btn-static, .ocf-theme-light-block .ocf-search-btn-popover, .ocf-theme-light-block .ocf-search-btn-static.ocf-disabled, .ocf-theme-light-block .ocf-search-btn-popover.ocf-disabled {
  background-color: #6a7275;
  color: #fff
}

.ocf-plus-minus {
  font-family: 'Font Awesome 5 Pro';
  font-weight: 400;
  font-size: 16px;
  color: #888
}

.ocf-plus-minus::before {
  content: "\f067"
}

.ocf-open .ocf-plus-minus::before {
  content: "\f068"
}

#column-left-grid, #column-right-grid, #column-left, #column-right {
  z-index: 6
}

.ocf-popover {
  position: absolute;
  max-width: 240px;
  opacity: 0;
  top: 0;
  left: 0;
  z-index: 1075;
  display: none;
  font-style: normal;
  font-weight: 400;
  letter-spacing: normal;
  line-break: auto;
  line-height: 1.42857143;
  text-align: left;
  text-align: start;
  text-decoration: none;
  text-shadow: none;
  text-transform: none;
  white-space: normal;
  word-break: normal;
  word-spacing: normal;
  word-wrap: normal;
  font-size: 14px;
  background: linear-gradient(90deg, #ffce1c 0%, #f9f0a7 102.22%);
  border-radius: 3px;
  -webkit-background-clip: padding-box;
  background-clip: padding-box;
  transition: transform 300ms ease, opacity 300ms ease;
  will-change: transform, opacity
}

.ocf-popover.ocf-in {
  opacity: 1
}

.ocf-popover.ocf-in.ocf-top {
  transform: translateY(-3px)
}

.ocf-popover.ocf-in.ocf-right {
  transform: translateX(3px)
}

.ocf-popover.ocf-in.ocf-bottom {
  transform: translateY(3px)
}

.ocf-popover.ocf-in.ocf-left {
  transform: translateX(-3px)
}

.ocf-popover.ocf-top {
  margin-top: -30px;
  transform: translateY(0)
}

.ocf-popover.ocf-right {
  margin-left: 30px;
  transform: translateX(0)
}

.ocf-popover.ocf-bottom {
  margin-top: 30px;
  transform: translateY(0)
}

.ocf-popover.ocf-left {
  margin-left: -30px;
  transform: translateX(0)
}

.ocf-popover-content {
  text-align: center;
  letter-spacing: .24em;
  text-transform: uppercase;
  color: #FFF
}

.ocf-popover > .ocf-arrow {
  position: absolute;
  display: block;
  background-color: #ffce1c;
  transform: rotate(45deg) translate(-50%, -50%);
  border-radius: 0;
  width: 8px;
  height: 8px;
  z-index: -1
}

.ocf-popover.ocf-top > .ocf-arrow {
  left: 50%;
  bottom: 0
}

.ocf-popover.ocf-bottom > .ocf-arrow {
  left: 50%;
  top: 0
}

.ocf-popover.ocf-right > .ocf-arrow {
  top: 50%;
  left: 0;
  transform-origin: top left
}

.ocf-popover.ocf-left > .ocf-arrow {
  top: 50%;
  right: 0
}

.ocf-content {
  margin-bottom: 25px
}

.ocf-header {
  margin-bottom: 20px
}

.ocf-header .ocf-header-btn {
  margin-left: auto
}

.ocf-selected-card {
  margin-bottom: 20px
}

.ocf-selected-header {
  font-size: 16px;
  margin-bottom: 10px
}

.ocf-selected-filter {
  display: flex;
  flex-wrap: wrap;
  align-items: center;
  margin-bottom: 10px;
  column-gap: 10px
}

.ocf-selected-filter-name {
  font-size: inherit;
  margin-right: 5px;
  margin-left: 7px
}

.ocf-selected-discard {
  padding: 7px 10px;
  max-width: 100%;
  display: flex;
  align-items: center;
  flex-wrap: nowrap
}

.ocf-selected-value-name {
  font-size: inherit;
  overflow: hidden;
  margin-right: 5px;
  text-overflow: ellipsis
}

.ocf-selected-discard .ocf-icon {
  width: 7px;
  height: 7px;
  flex: 0 0 7px;
  margin-left: auto;
  min-width: 2px;
  min-height: 2px
}

.ocf-horizontal .ocf-filter-list {
  display: flex;
  flex-wrap: wrap;
  align-items: stretch;
  justify-content: space-between;
  margin-right: -5px;
  margin-left: -5px
}

.ocf-horizontal .ocf-collapse-filter .ocf-filter-list {
  margin-left: 0;
  margin-right: 0
}

.ocf-horizontal .ocf-btn-show-filters {
  margin-bottom: 10px;
  margin-top: 0;
  margin-right: 5px;
  margin-left: 5px
}

.ocf-filter {
  margin-bottom: 15px
}

.ocf-horizontal .ocf-filter {
  padding-left: 5px;
  padding-right: 5px;
  min-width: 200px;
  flex: auto
}

.ocf-filter-body {
  position: relative
}

.ocf-filter-header, .ocf-module-page-header {
  font-weight: 700;
  font-size: 14px;
  margin-bottom: 10px
}

.ocf-dropdown .ocf-filter-header {
  cursor: pointer;
  margin-bottom: 0;
  position: relative;
  z-index: 1
}

.ocf-dropdown.ocf-open .ocf-filter-header {
  z-index: 21
}

.ocf-active-label {
  margin-right: 5px
}

.ocf-slider .ocf-active-label {
  white-space: nowrap
}

.ocf-slider .ocf-active-label, .ocf-horizontal .ocf-slider.ocf-has-input .ocf-active-label, .ocf-slider.ocf-open .ocf-active-label {
  display: block
}

.ocf-active-label, .ocf-open .ocf-active-label, .ocf-slider.ocf-has-input .ocf-active-label, .ocf-slider.ocf-has-input.ocf-open .ocf-active-label {
  display: none
}

.ocf-filter-name {
  margin-right: 5px;
  order: -1
}

.ocf-horizontal .ocf-filter-name, .ocf-slider .ocf-filter-name, .ocf-horizontal .ocf-active-label {
  white-space: nowrap;
  text-overflow: ellipsis;
  overflow: hidden
}

.ocf-dropdown.ocf-slider .ocf-active-label + .ocf-filter-name {
  display: block
}

.ocf-active-label:empty + .ocf-filter-name, .ocf-open .ocf-active-label + .ocf-filter-name {
  display: block
}

.ocf-has-input .ocf-slider-value {
  display: none
}

.ocf-horizontal .ocf-has-input .ocf-slider-value {
  display: block
}

.ocf-filter-description ~ * {
  margin-left: 5px
}

.ocf-filter-description .ocf-icon {
  display: block;
  filter: invert(37%) sepia(24%) saturate(2825%) hue-rotate(199deg) brightness(96%) contrast(94%)
}

.ocf-active .ocf-filter-header .ocf-angle-down {
  display: none
}

.ocf-horizontal .ocf-active .ocf-filter-discard, .ocf-slider.ocf-active .ocf-filter-discard {
  display: block
}

.ocf-dropdown .ocf-filter-body > .ocf-value-list {
  background-color: #fff;
  padding: 55px 15px 15px;
  margin: -10px 0 0;
  position: absolute;
  top: 0;
  left: -3px;
  right: -3px;
  z-index: 20;
  display: none;
  min-width: 100%
}

.ocf-horizontal .ocf-dropdown .ocf-filter-body > .ocf-value-list {
  min-width: 260px
}

.ocf-dropdown.ocf-open .ocf-filter-body > .ocf-value-list {
  display: block
}

.ocf-auto-column {
  display: grid;
  gap: 6px 15px;
  justify-items: stretch
}

.ocf-column-1 {
  grid-template-columns:repeat(1, 1fr)
}

.ocf-column-2 {
  grid-template-columns:repeat(2, 1fr)
}

.ocf-column-3 {
  grid-template-columns:repeat(3, 1fr)
}

.ocf-column-4 {
  grid-template-columns:repeat(4, 1fr)
}

.ocf-column-5 {
  grid-template-columns:repeat(5, 1fr)
}

.ocf-column-6 {
  grid-template-columns:repeat(6, 1fr)
}

.ocf-value-slider {
  padding: 10px 10px 0
}

.ocf-btn-show-values {
  margin-top: 10px;
  padding: 0
}

.ocf-auto-column .ocf-value {
  margin-bottom: 0;
  width: auto !important
}

.ocf-value-image ~ .ocf-value-append, .ocf-value-color ~ .ocf-value-append {
  margin-top: 2px
}

.ocf-footer {
  position: sticky;
  bottom: 0;
  z-index: 3;
}

.ocf-module-page {
  background-color: #fff !important;
  box-shadow: 0 3px 15px rgb(0 0 0 / 12%);
  margin-bottom: 15px
}

.ocf-module-page-header {
  margin-bottom: 15px
}

.ocf-module-page-list {
  list-style-type: none;
  margin: 0;
  padding: 0;
  max-height: 200px
}

.ocf-module-page-list li + li {
  margin-top: 3px
}

.ocf-module-page-list a {
  display: block;
  line-height: 1.5;
  color: #4A5057;
  font-size: 13px
}

.ocf-module-page-list a:hover {
  color: #353A40;
  text-decoration: underline
}

.ocf-module-page-list a.ocf-page-selected {
  font-weight: 700;
  color: #000
}

.ocf-theme-light .ocf-module-page {
  padding: 12px;
  border-radius: 4px;
  box-shadow: none;
  border: 4px solid #fff8e1
}

.ocf-theme-light .ocf-module-page-list {
  margin: 0
}

.ocf-theme-light .ocf-module-page-list a {
  color: #2e3135
}

.ocf-theme-light .ocf-selected-filter-name {
  color: #8596a4
}

.ocf-theme-light .ocf-selected-discard {
  background: rgba(208, 75, 75, .22);
  border-radius: 3px;
  font-weight: 500;
  font-size: 10px;
  line-height: 120%;
  text-align: center;
  letter-spacing: .18em;
  text-transform: uppercase;
  color: #fff
}

.ocf-theme-light .ocf-selected-discard:hover {
  border-color: #d9534f
}

.ocf-theme-light .ocf-selected-value-name {
  color: #222
}

.ocf-theme-light .ocf-filter {
  margin-bottom: 35px
}

.ocf-theme-light.ocf-horizontal .ocf-filter {
  margin-bottom: 10px
}

.ocf-theme-light .ocf-filter-header, .ocf-theme-light .ocf-module-page-header {
  font-weight: 500;
  font-size: 12px;
  line-height: 132%;
  text-transform: uppercase;
  color: #fff;
  margin-bottom: 0
}

.ocf-value-list {
  padding-top: 15px
}

.ocf-theme-light.ocf-horizontal .ocf-filter-header {
  font-weight: 400;
  margin-bottom: 0
}

.ocf-theme-light.ocf-horizontal .ocf-dropdown .ocf-filter-header {
  font-weight: 400
}

.ocf-theme-light .ocf-filter-header .ocf-filter-discard:hover {
  filter: invert(38%) sepia(18%) saturate(5963%) hue-rotate(328deg) brightness(81%) contrast(105%)
}

.ocf-theme-light .ocf-more-selected {
  background-color: rgba(0 0 0 / 12%);
  padding: 1px 5px;
  border-radius: 2px;
  color: #444;
  font-weight: 700
}

.ocf-theme-light .ocf-dropdown .ocf-filter-body > .ocf-value-list {
  background-color: #fff;
  box-shadow: 0 0 15px rgba(0 0 0 / 15%);
  border-radius: 5px
}

.ocf-theme-light-block .ocf-selected-header {
  font-size: 16px;
  font-weight: 700
}

.ocf-theme-light-block .ocf-selected-filter {
  background-color: #F5F7F9;
  border-radius: 15px
}

.ocf-theme-light-block .ocf-selected-filter-name {
  color: #8596a4;
  font-size: 13px
}

.ocf-theme-light-block .ocf-selected-discard {
  border: 1px solid transparent;
  border-radius: 20px;
  background-color: transparent
}

.ocf-theme-light-block .ocf-selected-discard:hover {
  border-color: #d9534f
}

.ocf-theme-light-block .ocf-selected-value-name {
  font-size: 13px;
  color: #222
}

.ocf-theme-light-block.ocf-vertical .ocf-filter, .ocf-theme-light-block.ocf-vertical .ocf-module-page {
  margin-bottom: 15px;
  padding: 15px 20px;
  border-radius: 5px
}

.ocf-theme-light-block.ocf-vertical .ocf-filter {
  background-color: #f0f2f5
}

.ocf-theme-light-block.ocf-horizontal .ocf-filter {
  margin-bottom: 10px
}

.ocf-theme-light-block.ocf-vertical .ocf-active {
  background-color: #ffeedf
}

.ocf-theme-light-block.ocf-horizontal .ocf-filter-header {
  background-color: #f0f2f5;
  padding: 10px 15px;
  border-radius: 5px
}

.ocf-theme-light-block.ocf-horizontal .ocf-dropdown.ocf-open .ocf-filter-header {
  background-color: #fff
}

.ocf-theme-light-block .ocf-filter-header .ocf-filter-name, .ocf-theme-light-block .ocf-filter-header .ocf-active-label, .ocf-theme-light-block .ocf-module-page-header {
  color: #444
}

.ocf-theme-light-block .ocf-filter-header .ocf-active-label {
  font-weight: 400
}

.ocf-theme-light-block.ocf-horizontal .ocf-filter-header .ocf-filter-name, .ocf-theme-light-block.ocf-horizontal .ocf-filter-header .ocf-active-label {
  font-weight: 400
}

.ocf-theme-light-block.ocf-horizontal .ocf-active.ocf-dropdown .ocf-filter-header {
  background-color: #FDEEDE
}

.ocf-theme-light-block .ocf-filter-header .ocf-filter-discard:hover {
  filter: invert(1) saturate(20)
}

.ocf-theme-light-block .ocf-more-selected {
  background-color: rgba(0 0 0 / 12%);
  padding: 1px 5px;
  border-radius: 2px;
  font-size: 12px;
  color: #444;
  font-weight: 700
}

.ocf-theme-light-block .ocf-dropdown .ocf-open .ocf-filter-header, .ocf-theme-light-block.ocf-horizontal .ocf-open.ocf-active.ocf-dropdown .ocf-filter-header {
  background-color: #fff
}

.ocf-theme-light-block .ocf-dropdown .ocf-filter-body > .ocf-value-list {
  background-color: #fff;
  box-shadow: 0 5px 17px rgb(0 0 0 / 15%);
  border-radius: 5px;
  padding: 55px 20px 15px;
  margin: -15px -17px 0
}

.ocf-theme-light-block.ocf-horizontal .ocf-dropdown .ocf-filter-body > .ocf-value-list {
  padding: 60px 17px 15px;
  margin: -8px 0 0
}

.ocf-theme-light-block .ocf-selected .ocf-value-input::before {
  background-color: #fff
}

.ocf-theme-light-block .ocf-value .ocf-value-input::after {
  filter: invert(46%) sepia(39%) saturate(589%) hue-rotate(151deg) brightness(100%) contrast(88%);
  background-size: 10px
}

.ocf-theme-light-block .ocf-value-count {
  font-size: 11px;
  background-color: rgb(79 83 88 / 10%);
  border-radius: 50px;
  font-weight: 400;
  color: #46494e
}

@media (max-width: 767px) {
  .ocf-mobile, .ocf-is-mobile {
    display: block
  }
  .ocf-desktop {
    display: none
  }
  .ocf-container {
    position: absolute;
    width: 100%;
    left: 0;
    opacity: 0;
    transition: opacity 350ms;
    z-index: -1;
    background: rgba(0, 0, 0, .5);
    -webkit-backdrop-filter: blur(50px);
    backdrop-filter: blur(50px);
    padding: 20px
  }
  .ocf-container.ocf-mobile-active {
    opacity: 1;
    z-index: 5
  }
  .ocf-content {
    margin: 0
  }
  .ocf-header {
    display: flex;
    align-items: center;
    justify-content: space-between
  }
  .ocf-header .ocf-close-mobile {
    color: #fff;
    border: 1px solid rgb(255 255 255 / 35%);
    display: flex;
    width: 36px;
    height: 36px;
    align-items: center;
    justify-content: center;
    padding: 0
  }
  .ocf-header .ocf-close-mobile:hover {
    color: #ffce1c;
    border-color: #ffce1c
  }
  .ocf-popover {
    background: #D04B4B
  }
  .ocf-popover.ocf-bottom > .ocf-arrow {
    top: 1px !important
  }
  .ocf-form-control, input.ocf-form-control {
    font-size: 16px;
  }
}
