@import "variables";

$mod-main-color: $main-color-light;
$mod-main-color-075: $main-color-light-075;
$mod-product-default-bg: $product-default-bg-light;
$mod-product-default-border: $product-default-border-light;
$mod-white: $white-light;
$mod-white-035: $white-035-light;
$mod-text-color: $text-color-light;





@import "all-general";
