@import "variables";

$mod-main-color: $main-color-dark;
$mod-main-color-075: $main-color-dark-075;
$mod-main-color-085: $main-color-dark-085;
$mod-main-color-010: $main-color-dark-010;
$mod-text-color: $text-color-dark;
$mod-text-color-085: $text-gray-dark;
$mod-main-color-filter: $main-color-dark-filter;
$mod-checkout-card-bg: $checkout-card-bg-dark;
$mod-product-checkout-card-bg: $checkout-product-card-bg-dark;



@import "simple-general";
