@import "variables";

$mod-main-color: $main-color-light;
$mod-main-color-075: $main-color-light-075;
$mod-main-color-085: $main-color-light-085;
$mod-main-color-010: $main-color-light-010;
$mod-checkout-card-bg: $checkout-card-bg-light;
$mod-product-checkout-card-bg: $checkout-product-card-bg-light;



@import "simple-general";
