@import "variables";

$mod-main-color: $main-color-light;
$mod-social-login-grad-90: $social-login-line-grad-90-light;
$mod-social-login-grad--90: $social-login-line-grad--90-light;
$mod-text-gray-general: $text-gray-general-light;
$mod-text-color: $text-color-light;
$mod-social-icon: $social-icon-light;


@import "social-login-general";
