@import "variables";

$mod-main-color: $main-color-dark;
$mod-social-login-grad-90: $social-login-line-grad-90-dark;
$mod-social-login-grad--90: $social-login-line-grad--90-dark;
$mod-text-gray-general: $text-gray-general-dark;
$mod-text-color: $text-color-dark;
$mod-social-icon: $social-icon-dark;

@import "social-login-general";
