///*page-contact*/
.page-contact-list {
    display: flex;
    justify-content: center;
    font-family: 'InterVariable', sans-serif;
    font-weight: 300;
}
.page-contact-list .item {
    padding-bottom: 50px;
}
.page-contact-list .item + .item {
    margin-left: 90px;
    padding-left: 90px;
    background: url('../img/line-vert.png') no-repeat center left;
    background-size: auto 100%;
}
.page-contact-list .item .title {
    display: flex;
    align-items: center;
    font-family: 'InterVariable', sans-serif;
    font-weight: 700;
    font-size: 20px;
    text-transform: uppercase;
    color: #fff;
    margin-bottom: 24px;
    height: 31px;
    white-space: nowrap;
}
.page-contact-list .item .title img {
    margin-right: 12px;
}
.page-contact-list .item .phone {
    font-size: 26px;
    line-height: 31px;
    text-transform: uppercase;
    display: table;
}
.page-contact-list .item .phone span {
    font-weight: 500;
}
.page-contact-list .item .email {
    font-weight: 400;
    font-size: 20px;
    line-height: 132%;
    letter-spacing: 0.01em;
    opacity: .7;
    border-bottom: 1px solid;
}
.page-contact-list .item .social {
    padding-top: 15px;
    display: flex;
}
.page-contact-list .item .social a {
    display: flex;
    align-items: center;
    justify-content: center;
    width: 21px;
    height: 21px;
    line-height: 0;
    border-radius: 50%;
    background: #9A9A9A;
    color: #fcfcfc;
    font-size: 12px;
    margin-right: 10px;
}
.page-contact-list .item .social a:hover {
    background: #FFCE1C;
}
.page-contact-list .item .text {
    font-weight: 400;
    font-size: 20px;
    color: rgba(255, 255, 255, 0.8);
    max-width: 214px;
    padding-bottom: 6px;
}
.page-contact-list .item .addlink {
    font-family: 'InterVariable', sans-serif;
    font-weight: 500;
    font-size: 11px;
    text-transform: uppercase;
    color: #FFCE1C;
    border-bottom: 1px dashed rgba(255, 255, 255, 0.76);
}
.page-contact-list .item .addlink:hover {
    border-bottom: 1px dashed #FFCE1C;
}
@media screen and (max-width:1331px){
    .page-contact-list .item + .item {
        margin-left: 50px;
        padding-left: 50px;
    }
}
@media screen and (max-width:1019px){
    .page-contact-list .item + .item {
        margin-left: 30px;
        padding-left: 30px;
    }
    .page-contact-list .item .title {
        font-size: 16px;
        margin-bottom: 18px;
    }
    .page-contact-list .item .email,
    .page-contact-list .item .text {
        font-size: 16px;
    }
    .page-contact-list .item .phone {
        font-size: 20px;
    }
}
@media screen and (max-width:767px){
    .page-contact-list {
        flex-direction: column;
        align-items: center;
    }
    .page-contact-list .item {
        padding-bottom: 20px;
        min-width: 220px;
    }
    .page-contact-list .item + .item {
        margin-left: 0;
        padding-left: 0;
        background: transparent;
    }
    .page-contact-list .item .title {
        margin-bottom: 10px;
    }
    .page-contact-list .item .title img {
        margin-right: 10px;

        width: initial;
        height: 20px;
    }
}
///*.page-contact*/
///*page-payment*/
.page-payment-nav {
    padding-bottom: 66px;
}
.page-payment-nav .button {
    height: 46px;
    padding: 2px 42px 0;
    border: 1px solid;
    margin: 0 10px;
    font-weight: 700;
    font-size: 16px;
    letter-spacing: 0.18em;
    color: rgba(255, 255, 255, 0.25);
    text-transform: uppercase;
}
.page-payment-nav .button:hover,
.page-payment-nav .button.active {
    color: #fff;
}
.page-payment-tab {
    padding-bottom: 50px;
}
.page-payment-tab .item {display: none;-webkit-transition: all 0.35s;-o-transition: all 0.35s;transition: all 0.35s;-moz-transition: all 0.35s;-ms-transition: all 0.35s;}
.page-payment-tab .item.active {display: block;}
.page-payment-tab .item .list li {
    font-family: 'InterVariable', sans-serif;
    line-height: 132%;
    color: rgba(255, 255, 255, 0.66);
    width: calc(33.333% - 60px);
}
.page-payment-tab .item .list li + li {
    width: calc(33.333% - 30px);
    margin-left: 30px;
    padding-left: 30px;
    background: url('../img/line-vert.png') no-repeat center left;
    background-size: auto 100%;
}
.page-payment-tab .item .list li .name {
    display: flex;
    align-items: center;
    font-family: 'InterVariable', sans-serif;
    font-weight: 700;
    font-size: 20px;
    text-transform: uppercase;
    color: #fff;
    margin-bottom: 24px;
    height: 31px;
    white-space: nowrap;
}
.page-payment-tab .item .list li .name img {
    max-height: 31px;
    margin-right: 12px;
}
.page-payment-tab .item .list li strong {
    color: #FFCE1C;
    font-weight: 500;
}
@media screen and (max-width:1331px){
    .page-payment-tab .item .list li .name {
        font-size: 16px;
    }
}
@media screen and (max-width:1019px){
    .page-payment-tab .item .list {
        flex-direction: column;
    }
    .page-payment-tab .item .list li, .page-payment-tab .item .list li + li {
        width: 100%;
        margin-left: 0;
        padding-left: 0;
        background: transparent;
    }
    .page-payment-tab .item .list li + li {
        margin-top: 30px;
    }
    .page-payment-tab .item .list li .name {
        margin-bottom: 15px;
    }
}
@media screen and (max-width:767px){
    .page-payment-nav {
        padding-bottom: 30px;
    }
    .page-payment-nav .button {
        height: 26px;
        padding: 0 10px;
        margin: 0 5px;
        font-size: 10px;
        letter-spacing: 0.1em;
    }
    .page-payment-tab {
        padding-bottom: 0px;
    }
    .page-payment-tab .item .list li .name {
        margin-bottom: 10px;
    }
}
/*.page-payment*/
/*skins*/
.page-skiny {
    padding-bottom: 50px;
}
.form-skins {
    flex-wrap: wrap;
    max-width: 1230px;
    margin: 0 auto;
    padding-bottom: 20px;
}
.form-skins .field-col-1 {
    width: calc(33.333% - 20px);
}
.form-skins .field-col-1.inner-footer,
.form-skins .field-col-1[data-field-type="firstname"],
.form-skins .field-col-1[data-field-type="telephone"] {
    display: none;
}
.form-skins.active .field-col-1 {
    display: block;
}
.form-skins .field-col-1 .button {
    margin-top: 23px;
    color: #FFCE1C;
}
.form-skins .field-col-1 .button:before {
    content: "\f054";
    font-family: 'Font Awesome 5 Pro';
    font-weight: 900;
    font-size: 14px;
    margin-right: 10px;
}
.skinsslaider {
    padding-bottom: 50px;
}
.skinsslaider-top {
    padding-bottom: 30px;
    text-align: center;
}
.skinsslaider-top h2 {
    font-size: 28px;
    line-height: 32px;
    color: #fff;
    font-weight: 600;
    padding-bottom: 20px;
    text-transform: uppercase;
}
.skinsslaider-top p {
    font-family: 'InterVariable', sans-serif;
    color: rgba(255, 255, 255, 0.66);
}
.skinsslaider-list {
    overflow: hidden;
}
.skinsslaider-list .swiper {
    width: 1128px;
    overflow: initial;
}
.skinsslaider-list .swiper .skinsslaider-item {
    overflow: hidden;
    border-radius: 3px;
}
.skinsslaider-list .swiper .skinsslaider-item img {
    height: initial;
}
.skinsslaider-button {
    position: absolute;
    width: 742px;
    top: 0;
    bottom: 0;
    left: 50%;
    transform: translate(-50%, 0%);
    z-index: 2;
    display: none;
}
.swiper-slide-active .skinsslaider-button {
    display: block;
}
.skinsslaider-button .button {
    position: absolute;
    left: 0;
    height: 100%;
    width: 36px;
    background: rgba(255, 255, 255, 0.2);
    color: #fff;
    font-size: 16px;
}
.skinsslaider-button .button.swiper-button-next {
    right: 0;
    left: initial;
}
@media screen and (max-width:1331px){
    .form-skins {
        max-width: 1000px;
    }
    .skinsslaider-list .swiper {
        width: 1000px;
    }
    .skinsslaider-button {
        width: 656px;
    }
}
@media screen and (max-width:1019px){
    .form-skins.static {
        max-width: 748px;
    }
    .form-skins .field-col-1 {
        width: calc(33.333% - 10px);
    }
    .form-skins .form-horizontal .button {
        font-size: 12px;
    }
    .skinsslaider-list .swiper {
        width: 748px;
    }
    .skinsslaider-button {
        width: 488px;
    }
    .skinsslaider-button .button {
        width: 20px;
        font-size: 10px;
    }
}
@media screen and (max-width:767px){
    .form-skins.static {
        max-width: 460px;
    }
    .form-skins .field-col-1 {
        width: 100%;
    }
    .form-skins .field-col-1 .button {
        margin: 0 0 10px;
    }
    .form-skins .form-horizontal .button {
        font-size: 16px;
    }
    .form-skins .field-col-1 .button.active {
        display: none;
    }
    .skinsslaider-list .swiper {
        width: 460px;
    }
    .skinsslaider-button {
        width: 381px;
    }
}
@media screen and (max-width:479px){
    .page-skiny {
        padding-bottom: 0;
    }
    .form-skins.static {
        max-width: calc(100% - 20px);
    }
    .skinsslaider-list .swiper {
        width: 320px;
    }
    .skinsslaider-button {
        width: 265px;
    }
}
///*.skins*/
