@import "variables";

$mod-main-color: $main-color-dark;
$mod-main-color-075: $main-color-dark-075;
$mod-text-color: $text-color-dark;
$mod-home-product-nav-text: $home-product-nav-text-dark;
$mod-home-product-nav-border: $home-product-nav-border-dark;
$mod-white-060: $white-060-light;

@import "style-information-general";
