.category-page {
    padding-bottom: 100px;
}
.category-top {
    padding: 68px 0 70px;
    text-align: center;
    color: #fff;
}
.category-breadcrumbs {
    padding-bottom: 15px;
}
.category-breadcrumbs li + li {
    padding-left: 8px;
}
.category-breadcrumbs .button {
    font-weight: 500;
    font-size: 10px;
    text-transform: uppercase;
    letter-spacing: 0.18em;
    color: rgba(255, 255, 255, 0.71);
}
.category-breadcrumbs .button i {
    margin: 2px 8px 0 0;
}
.category-top .title {
    font-weight: 500;
    font-size: 30px;
    line-height: 36px;
    text-transform: uppercase;
    margin-bottom: 45px;
    position: relative;
}

.category-child-nav {
    padding: 0 0 6px;
    margin-left: 20px;
    overflow-x: auto;
}
.category-child-nav::-webkit-scrollbar-button{width:12px;height:6px;background: rgba(255, 255, 255, 0.2);backdrop-filter: blur(25.5px);cursor: pointer;border-radius: 6px;}
.category-child-nav::-webkit-scrollbar-track{background: rgba(0, 0, 0, 0.2);backdrop-filter: blur(25.5px);border-radius: 6px;}
.category-child-nav::-webkit-scrollbar-thumb{background: rgba(255, 255, 255, 0.2);backdrop-filter: blur(25.5px);cursor: pointer;border-radius: 6px;}
.category-child-nav::-webkit-resizer{width:6px;height:6px}
.category-child-nav::-webkit-scrollbar{width:6px;height:6px;cursor: pointer;}
.category-child-nav ul {
    column-gap: 14px;
    width: 990px;
    display: flex;
    flex-wrap: wrap;
    margin: 0 auto;
    justify-content: center;
}
@media screen and (max-width: 1019px){
    .category-child-nav ul {
        width: auto;
        flex-wrap: nowrap;
        justify-content: flex-start;
    }
}

.category-child-nav ul li {
    margin-bottom: 14px;
}

.category-child-nav ul a {
    padding: 15px 25px;
    border: 1px solid #FFFFFF42;
    border-radius: 4px;
    color: rgba(255, 255, 255, 0.50);
    font-size: 16px;
    font-weight: 500;
    line-height: 16px;
    letter-spacing: 1px;
    text-transform: uppercase;
    white-space: nowrap;
}
.category-child-nav ul a:hover {
    color: #fff;
    border: 1px solid #FFCE1C;
    background: rgba(255, 255, 255, 0.01);
    //backdrop-filter: blur(25.5px);
}
.category-content {
    padding-top: 30px;
}
.category-left {
    width: 286px;
}
.search-left {
    padding-bottom: 30px;
}
.search-left .title {
    font-size: 12px;
    text-transform: uppercase;
    padding-bottom: 15px;
}
.search-left .input-lg {
    font-weight: 500;
    font-size: 16px;
    letter-spacing: 1px;
    text-transform: uppercase;
    color: #fff;
    padding: 16px 18px;
    width: calc(100% - 48px);
    height: 48px;
    background: transparent;
}
.search-left .input-lg::-webkit-input-placeholder {color: rgb(255 255 255 / 35%);}
.search-left .input-lg::-moz-placeholder {color: rgb(255 255 255 / 35%);}
.search-left .input-lg:-ms-input-placeholder {color: rgb(255 255 255 / 35%);}
.search-left .input-lg:-moz-placeholder {color: rgb(255 255 255 / 35%);}
.search-left .button {
    font-size: 0;
    color: #fff;
    height: 48px;
    width: 48px;
}
.search-left #search {
    border: 1px solid rgb(255 255 255 / 35%);
    border-radius: 3px;
    overflow: hidden;
}
.search-left .button i {
    font-size: 14px;
    font-weight: 300;
}
.category-right {
    width: calc(100% - 310px);
}
.category-right-top {
    padding-bottom: 15px;
    align-items: center;
    font-weight: 500;
    font-size: 12px;
    text-transform: uppercase;
    color: #fff;
    background-size: 100%;
    background-repeat: no-repeat;
    background-position: center bottom 35px;
}
.category-right-top .button {
    margin-left: 10px;
    color: rgb(255 255 255 / 40%);
}
.category-right-top .category-sort-close {
    display: none;
}
.category-sort .list .button i {
    margin: 1px 0 0 5px;
}
.category-sort .button.active, .category-sort .button:hover {
    color: #FFCE1C;
}
.category-view .button.active, .category-view .button:hover {
    color: #FFCE1C;
}
.category-button {
    display: none;
    padding-bottom: 18px;
}
.category-button .button {
    width: calc(50% - 7px);
    height: 37px;
    font-weight: 700;
    font-size: 11px;
    letter-spacing: 0.18em;
    text-transform: uppercase;
    color: #FFCE1C;
    border: 0.5px solid #FFCE1C;
}
.category-button .button i {
    font-size: 10px;
    color: rgba(255, 255, 255, .7);
    margin: 2px 10px 0 0;
}
@media screen and (max-width:1331px){
    .category-sort .label {
        display: none;
    }
    .category-right-top .button {
        margin-left: 5px;
        font-size: 10px;
    }
}
@media screen and (max-width:1019px){
    .category-page {
        padding-bottom: 30px;
    }
    .category-left {
        width: 250px;
    }
    .category-right {
        width: 480px;
    }
}
@media screen and (max-width:767px){
    .category-top {
        padding: 50px 0 70px;
    }
    .category-breadcrumbs {
        padding-bottom: 15px;
    }
    .category-breadcrumbs .button {
        font-size: 8px;
    }
    .category-breadcrumbs .button i {
        margin: 2px 2px 0 0;
        font-size: 6px;
    }
    .category-child-nav {
        padding: 40px 0 6px;
        margin-left: 10px;
    }
    .category-child-nav ul a {
        padding: 0px 25px;
        height: 27px;
        font-size: 11px;
        letter-spacing: 1.98px;
    }
    .category-content {
        flex-direction: column;
    }
    .category-left,
    .category-right {
        width: 100%;
    }
    .search-left .input-lg {
        font-size: 16px;
    }
    .category-sort .list {
        text-align: center;
    }
    .category-right-top .button {
        margin: 5px;
    }
    .category-button {
        display: flex;
    }
    .category-right-top {
        padding: 20px 45px 30px;
        font-weight: 200;
        font-size: 12px;
        position: absolute;
        top: 0;
        left: 0;
        width: 100%;
        background: rgba(0, 0, 0, .63) !important;
        backdrop-filter: blur(50px);
        -webkit-backdrop-filter: blur(50px);
        opacity: 0;
        transition: opacity 350ms;
        z-index: -1;
    }
    .category-right-top.active {
        opacity: 1;
        z-index: 999;
    }
    .category-sort {
        flex-wrap: wrap;
        align-items: center;
        width: 100%;
    }
    .category-sort .label {
        display: block;
        font-weight: 700;
        font-size: 16px;
        line-height: 135%;
        text-transform: uppercase;
        color: #fff;
    }
    .category-sort .list {
        text-align: left;
        width: 100%;
        padding-top: 20px;
    }
    .category-right-top .button {
        margin: 0;
        display: block;
        font-weight: 400;
        font-size: 12px;
        color: #fff;
    }
    .category-right-top .button + .button {
        margin-top: 15px;
    }
    .category-right-top .category-sort-close {
        display: flex;
        color: #fff;
        border: 1px solid rgb(255 255 255 / 35%);
        width: 36px;
        height: 36px;
        font-size: 16px;
    }
    .category-right-top .category-sort-close:hover {
        color: #ffce1c;
        border-color: #ffce1c;
    }
}
@media screen and (max-width:479px){
    .category-button .button {
        width: calc(50% - 5px);
    }
}
.category-products-item {
    width: 326px;
    margin: 0 0 11px 11px;
}
.category-products-item:nth-child(3n+1) {
    margin-left: 0;
}

.category-products-item.banner img {
    width: 100%;
    height: 100%;
}
.category-products-item.banner .gorizont,
.category-products-item.banner.product-list .vertical {
    display: none;
}
.category-products-item.banner.product-list .gorizont {
    display: block;
}
.category-products-item.banner .button {
    font-weight: 700;
    font-size: 14px;
    line-height: 44px;
    letter-spacing: 0.2em;
    color: #FFFFFF;
    white-space: nowrap;
    text-transform: uppercase;
    padding: 0 40px;
    border: 1px solid rgba(255, 255, 255, 0.3);
    border-radius: 4px;
    position: absolute;
    bottom: 40px;
    left: 50%;
    transform: translate(-50%, 0%);
}
.category-products-item.banner.product-list .button {
    line-height: 38px;
    padding: 0 20px;
    bottom: initial;
    top: 50%;
    left: initial;
    right: 60px;
    transform: translate(0%, -50%);
}
.category-products-item.banner .button i {
    font-size: 11px;
    margin: 2px 12px 0 0;
}
.category-products-item.banner .button:hover {
    color: #D04B4B;
}
@media screen and (max-width:1331px){
    .category-products {
        justify-content: space-between;
    }
    .category-products-item:not(.product-list),
    .category-products-item:nth-child(3n+1):not(.product-list) {
        width: calc(50% - 6px);
        margin: 0 0 11px;
    }
}
@media screen and (max-width:1019px){
    .category-view,
    .product-default:hover .params {
        display: none;
    }
    .category-products-item, .category-products-item:nth-child(3n+1) {
        width: 235px;
        margin: 0 0 10px;
    }
}
@media screen and (max-width:767px){
    .category-products-item, .category-products-item:nth-child(3n+1) {
        width: calc(50% - 5px);
        margin: 0 0 10px;
        //padding: 14px 10px 20px;
    }
    .category-products-item.banner .button {
        font-size: 10px;
        line-height: 32px;
        padding: 0 20px;
        bottom: 20px;
    }
    .category-products-item.banner .button i {
        font-size: 7px;
        margin: 2px 6px 0 0;
    }
}

.category-products-item.banner {
    padding: 0;
}

.category-products-item.banner.product-list {
    width: 100%;
}

.category-bottom {
    padding-left: 100px;
}
.category-bottom.active {
    padding-top: 42px;
}
.category-loadmore {
    margin-left: auto;
    display: flex;
    flex-direction: column;
}
.category-loadmore .lloading{
    display: none;
}
.category-loadmore .button {
    font-weight: 700;
    font-size: 14px;
    line-height: 125%;
    letter-spacing: 0.39em;
    text-transform: uppercase;
    color: #FFCE1C;
    text-shadow: 2px 3px 12px rgb(255 206 28 / 75%);
    flex-direction: column;
}
.category-loadmore .button i {
    margin-top: 15px;
    width: 12px;
}
.category-pagination {
    min-width: 100px;
    margin-left: auto;
}
@media screen and (max-width:1019px){
    .category-bottom {
        padding: 30px 0 0;
    }
    .category-loadmore .button {
        font-size: 10px;
        letter-spacing: initial;
    }
    .category-loadmore .button i {
        margin-top: 2px;
    }
}

.products-background{
    height: auto;
    position: absolute;
    left: 0;
    top: 0;
    margin-top: -173px;
    height: -webkit-fill-available;
    object-fit: cover;
}
