.product-page-top {
  flex-wrap: wrap;
}

.product-page-left {
  width: 320px;
}

.product-page-center {
  width: 568px;
  background: url('../img/line-vert.png') no-repeat center left, url('../img/line-vert.png') no-repeat center right;
}

.highlight {
  color: #FFCE1C88;
}

.product-page-right {
  width: 350px;

  .top {
    .title {
      font-family: InterVariable, sans-serif;
      font-size: 26px;
      font-weight: 500;
      line-height: 34px;
      text-transform: uppercase;
      margin-bottom: 10px;
      @media screen and (max-width: 767px){
        font-size: 20px;
        font-weight: 700;
        padding-bottom: 15px;
        line-height: 24px;
      }
    }
  }

  .center {
    .left {
      width: 100%;
    }
  }

  .info {
    font-family: InterVariable, sans-serif;
    font-size: 14px;
    line-height: 14px;
    letter-spacing: 2.4px;
    text-transform: uppercase;
    color: #fff;
    justify-content: start;
    padding-bottom: 30px;

    i {
      margin-right: 6px;
      color: #2EA448;

      &.nostock {
        color: #696969;
      }

      &.nonstock {
        color: #ffce1c;
      }
    }

    .stock {
      margin-left: 6px;
      padding-left: 6px;
      border-left: 1px solid;
    }
  }

  .price {
    .price-wrap {
      margin-bottom: 20px;
    }

    .item-price {
      font-family: InterVariable, sans-serif;
      font-size: 26px;
      font-weight: 500;
      line-height: 26px;
      color: #FFCE1C;
      margin-right: 12px;
    }

    .label-lenght {
      background-color: #FFFFFF12;
      padding: 3px 5px;
      font-size: 12px;
      line-height: 14px;
      border-radius: 4px;
      margin-right: 12px;
    }

    .cur {
      color: #FFFFFFA8;
      font-size: 14px;
    }

    .top-wrapper {
      margin-bottom: 8px;
    }

    .text-total-summ {
      font-size: 11px;
      text-transform: uppercase;
      font-weight: 500;
      margin-right: 38px;
    }

    .text-discount {
      font-size: 9.2px;
      font-weight: 600;
      line-height: 10px;
    }
  }

  .product-discounts {
    margin-bottom: 20px;

    li {
      padding: 14px;
      background: linear-gradient(to right, #484A4C 75%, rgba(255, 206, 28, 0.5) 100%);
      margin-bottom: 4px;
      border-radius: 4px;
      font-size: 14px;
      display: flex;
      justify-content: space-between;
      align-items: center;

      .colord {
        font-size: 13px;
        font-weight: 600;
      }

      .cur {
        color: #FFFFFFA8;
      }

      .item-btn {
        .select-quantity {
          background-color: #FFCE1C;
          border: 1px solid #FFCE1C;
          padding: 4px 8px;
          border-radius: 4px;
          display: block;
          font-size: 12px;
          letter-spacing: 0.15px;
          cursor: pointer;
          &.is-active{
            background-color: transparent;
            color: #FFCE1C;
          }

          &:before {
            content: "+";
            margin-right: 4px;
          }
        }
      }

      //color: #484A4C

      //background: linear-gradient(0deg, #484A4C, #484A4C),
      //linear-gradient(90deg, rgba(255, 206, 28, 0) 60%, rgba(255, 206, 28, 0.3) 80%);
    }
  }



  #product {
    .text_quantity_unit {
      display: block;
      padding-bottom: 10px;
      text-transform: uppercase;
      font-size: 11px;
    }

    .quantity-input-wrappper {
      display: flex;

      .max-value-group {
        display: flex;
        flex-direction: column;

        .max-value {
          font-size: 14px;
          font-weight: 400;
          text-transform: uppercase;
          color: #ffffff88;
        }

        .select-max {
          cursor: pointer;
          color: #FFCE1C;
          font-size: 12px;
          font-weight: 500;

          //border-bottom: 1px ;
          border-bottom: 1px dashed #FFCE1C
        }
      }
    }

    .alert-info {
      &.alert-info-xvr {
        font-size: 11.1px;
        font-style: italic;
        font-weight: 400;
        color: #808080;
        margin-bottom: 20px;
      }
    }
  }

  .autocalc-product-price {
    font-family: InterVariable, sans-serif;
    font-size: 26px;
    font-weight: 500;
    line-height: 26px;
    color: #FFCE1C;
    margin-bottom: 10px;
    display: block;
  }

  .consult-open {
    width: 100%;
    height: 60px;
    flex-direction: column;
    align-items: center;
    padding: 0 20px;
    background: linear-gradient(272deg, rgb(248 236 192 / 50%) -1.98%, rgb(255 206 28 / 50%) 107.6%);
    backdrop-filter: blur(12px);
    -webkit-backdrop-filter: blur(12px);
    border-radius: 3px;
    font-weight: 700;
    font-size: 13px;
    line-height: 125%;
    letter-spacing: 0.01em;

    &:after {
      content: '';
      width: 57px;
      height: 57px;
      //background: url('../image/icon/consult-open.png') no-repeat;
      position: absolute;
      right: 15px;
      top: 7px;
    }

    &:hover {
      opacity: .6;
    }

    span {
      font-weight: 700;
      font-size: 11px;
      letter-spacing: 0.23em;
      color: #ffce1c;
      text-transform: uppercase;
      border-bottom: 1px dashed rgba(255, 255, 255, 0.76);
      padding-top: 2px;
    }
  }

  .stock-in-alert-wrapper {
    border: 1px solid #ffce1c;
    border-radius: 3px;
    margin-bottom: 8px;

    input {
      height: 54px;
      padding: 0 20px;
      background: transparent;
    }

    .stock-in-alert {
      height: 54px;
      width: 100%;
      font-size: 14px;
      font-weight: 700;
      line-height: 14px;
      letter-spacing: 2px;
      text-transform: uppercase;
      color: #ffce1c;
      border-top: 1px solid #ffce1c;
      text-shadow: 0 0 28px rgba(255, 206, 28, 1);

      i {
        margin-right: 10px;
      }
    }
  }


}

#button-cart {
  display: block;
  background-color: #FFCE1C1A;
  width: 100%;
  height: 60px;
  border: 1px solid #FFCE1C;
  text-transform: uppercase;
  font-size: 14px;
  font-weight: 700;
  line-height: 14px;
  letter-spacing: 2px;
  margin-bottom: 8px;

  i {
    margin-right: 12px;
  }
}

.btn-quick-order {
  border: 1px solid #7C7C7C;
  width: 100%;
  height: 60px;
  text-transform: uppercase;
  font-size: 14px;
  font-weight: 700;
  line-height: 14px;
  letter-spacing: 2px;
  margin-bottom: 8px;
  color: white;
  border-radius: 3px;
}

@media screen and (max-width: 1331px) {
  .product-page-left {
    width: 290px;
  }
  .product-page-center {
    width: 360px;
  }
  .product-page-right {
    width: 335px;
  }
}

@media screen and (max-width: 1019px) {
  .product-page-left {
    width: 100%;
    padding-bottom: 20px;
    order: 2;
  }
  //.product-page-center, .product-page-right {
  //    width: 365px;
  //}
}

@media screen and (max-width: 767px) {
  #product-product {
    display: flex;
    flex-direction: column;
  }
  .product-page-center {
    width: 100%;
    order: -1;
    background: none;
  }
  .product-page-right {
    width: 100%;
  }
}

.product-page-top {
  .sku {
    font-family: 'InterVariable';
    font-size: 10.7px;
    letter-spacing: 0.01em;
    text-transform: uppercase;
    color: rgba(255, 255, 255, 0.66);
  }
}


.product-page-top .params-title-mobil {
  display: none;
}

.product-page-left {
  .reviews-open {
    font-size: 14px;
    line-height: 18px;
    text-transform: uppercase;

    span {
      margin-right: 9px;
    }

    @media screen and (max-width: 1331px) {
      font-size: 12px;
      span {
        margin-right: 5px;
      }
    }

    //span {
    //    border-bottom: 1px dashed rgba(255, 255, 255, 0.76);
    //}
  }




  .feedback-wrapper {
    background-color: #3C3E41;
    padding: 16px 20px;
    border-radius: 4px;
    margin-bottom: 20px;

    @media screen and (max-width: 1331px) {
      padding: 16px 15px;
    }

    .rating-wrap {
      display: flex;
      align-items: center;

      .rating {
        width: 85.5px;
        display: flex;
        justify-content: space-between;

        i {
          font-size: 13px;
          line-height: 13px;
        }
      }

      .count {
        margin-left: 8px;
        font-size: 14px;
        color: #928F89;
        @media screen and (max-width: 1331px) {
          font-size: 12px;
        }

      }
    }
  }
}

.code-wishlist-wrapper {
  display: flex;
  justify-content: space-between;
  align-items: center;
  margin-bottom: 15px;
  &.mobil{
    order: -2;
    width: 100%;
    @media screen and (min-width: 768px){
      display: none;
    }
  }

  .wishlist {
    button {
      width: 39px;
      height: 35px;
      background-color: white;
    }
    &.desktop{
      display: block;
      @media screen and (max-width: 767px) {
        display: none;
      }
    }
  }
}

.product-page-left .params .list {
  padding-bottom: 25px;
}

.product-page-left .params .list .item {
  font-weight: 400;
  font-size: 16px;
  letter-spacing: 0.01em;
  white-space: nowrap;
  align-items: end;
  margin: 4px 0;
  padding-bottom: 6px;
  border-bottom: 1px dashed #ACACAC;
  color: #ACACAC;
}

/*замена*/
.product-page-left .params .list .item.hide {
  display: none;
}

.product-page-left .params.active .list .item {
  display: flex !important;
}

.product-page-left .params .list .item .label {
  font-weight: 400;
  font-size: 16px;
  text-transform: uppercase;
  color: #fff;
  max-width: 50%;
  text-align: right;
  white-space: initial;
}

.product-page-left .params .button {
  width: 100%;
  background-color: #3C3E41;
  padding: 18px 20px;
  font-size: 14px;
  font-weight: 400;
  text-transform: uppercase;
  border-radius: 4px;
  justify-content: flex-start;
}

.product-page-left .params .button:after {
  content: "\f078";
  font-family: 'Font Awesome 5 Pro';
  font-weight: 900;
  color: #FFCE1C;
  font-size: 16px;
  position: absolute;
  right: 20px;
}

.product-page-left .params #show-less.button:after {
  transform: rotateZ(-180deg);
}

@media screen and (max-width: 1331px) {
  //.product-page-left .title {
  //    font-size: 22px;
  //}
  //.product-page-left .params .list {
  //  grid-column-gap: 20px;
  //  grid-row-gap: 15px;
  //  padding-bottom: 20px;
  //}
  .product-page-left .params .list .item {
    font-size: 14px;
  }
  .product-page-left .params .list .item .label {
    font-weight: 500;
    font-size: 10px;
  }
}

@media screen and (max-width: 1019px) {
  .product-page-top .sku {
    font-size: 10px;
    //padding-bottom: 10px;
  }
  //.product-page-left .title {
  //    padding-bottom: 20px;
  //}
  .product-page-left .params {
    max-width: 100%;
  }
  .product-page-left .params .list {
    padding-bottom: 10px;
    grid-row-gap: 0;
  }
  //.product-page-left .params .button {
  //  flex-direction: row-reverse;
  //}
  .product-page-left .params .button:after {
    -webkit-transform: rotate(268deg);
    -ms-transform: rotate(268deg);
    transform: rotate(268deg);
    margin-right: 5px;
    font-size: 9px;
  }
}

@media screen and (max-width: 767px) {
  //.product-page-left .title {
  //    padding-bottom: 10px;
  //    display: none;
  //}
  .product-page-top .params-title-mobil {
    display: block;
    font-weight: 700;
    font-size: 20px;
    text-transform: uppercase;
  }
  .product-page-top .params-title-mobil {
    padding-bottom: 10px;
  }
  .product-page-top .sku.mobil {
    display: block;
    order: -2;
  }
  .product-page-top .sku.deskopt {
    display: none;
  }
  .product-page-left .params .list {
    grid-template-columns: repeat(4, 1fr);
  }
}

@media screen and (max-width: 479px) {
  //.product-page-left .title {
  //    font-size: 16px;
  //}
  .product-page-left .params .list {
    grid-template-columns: repeat(3, 1fr);
    padding-bottom: 0;
  }
  //.product-page-left .params .list .item:nth-child(1n+4) {
  //  display: none;
  //}
}

.product-page-center .sale {
  position: absolute;
}

.product-page-center .product-slider {
  margin: 0 0 25px;
  height: fit-content;
}

.product-page-center .product-slider .swiper-wrapper, .product-page-center .product-slider-nav .swiper-wrapper {
  align-items: center;
}

.product-page-center .product-slider img {
  width: 100%
}

.product-page-center .product-slider .video i {
  width: 50px;
  height: 50px;
  border: 1px solid;
  display: flex;
  align-items: center;
  justify-content: center;
  margin-left: 15px;
  background: rgb(255 255 255 / 50%);
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  margin: 0;
}

.nav-slider-wrapper {
  display: flex;
  justify-content: center;
  align-items: flex-start;
  .button {
    margin-top: 5px;
    color: #707070;
    font-size: 16px;
    z-index: 2;
    padding: 13px 16px 13px 16px;
    background-color: #FFFFFF;
    &:hover {
      color: #ffce1c;
    }

    &.swiper-button-disabled {
      background-color: transparent;
      border: 1px solid #7B7E7F;

    }

    &.swiper-button-next {
      order: 2;
      &:before{
        font-size: 10px;
      }

    }

    &.swiper-button-prev {
      order: 0;
      &:before{
        font-size: 10px;
      }
    }
  }

  .product-slider-nav {
    order: 1;
  }

}

.product-page-center .product-slider-nav {
  padding-bottom: 20px;
  height: fit-content;
  width: 150px;
  margin: 0 40px;
}

.product-page-center .product-slider-nav .item {
  border-radius: 3px;
  height: 45px;
  border: 1px solid #FFFFFF0D;
  display: flex;
  justify-content: center;
  align-items: center;
}

.product-page-center .product-slider-nav .item.swiper-slide-thumb-active {
  background-color: #FFFFFF08;
}

.product-page-center .product-slider-nav .swiper-slide-thumb-active:after {
  content: "\f077";
  font-family: 'Font Awesome 5 Pro';
  font-weight: 900;
  color: #ffce1c;
  position: absolute;
  bottom: -20px;
  left: 50%;
  transform: translate(-50%, 0%);
}

.product-page-center .product-slider-nav .item img {
  max-width: 40px;
}

.product-page-center .product-slider-nav .video i {
  width: 20px;
  height: 20px;
  font-size: 10px;
  border: 1px solid;
  display: flex;
  align-items: center;
  justify-content: center;
  margin-left: 15px;
  background: rgb(255 255 255 / 80%);
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  margin: 0;
}

@media screen and (max-width: 1331px) {
  .product-page-center .product-slider {
    margin: 0 0 15px;
  }
  .product-page-center .product-slider-nav {
    margin: 0 20px;
    padding-bottom: 14px;
  }
  .product-page-center .product-slider-nav .swiper-slide-thumb-active:after {
    bottom: -16px;
    font-size: 14px;
  }
}

@media screen and (max-width: 767px) {
  .product-page-center .product-slider {
    margin: 0 0 15px;
  }
  .product-page-center .product-slider-nav {
    margin-bottom: 20px;
  }
}

//@media screen and (max-width: 479px) {
//  .product-page-center .product-slider-nav .item {
//    height: 35px;
//  }
//}

.product-count {
  padding-bottom: 24px;
}

.product-page-bottom {
  width: 100%;
  border-radius: 3px;
  margin: 80px 0 50px 0;

  @media screen and (max-width: 1331px) {
    padding: 20px 0;
  }

  p {
    font-family: InterVariable, sans-serif;
    font-size: 16px;
    color: rgba(255, 255, 255, 0.62);
    font-weight: 400;
    line-height: 20px;
    @media screen and (max-width: 1331px) {
      font-size: 14px;
    }
    @media screen and (max-width: 767px) {
      font-size: 12px;
    }


  }

  .garant p {
    font-weight: 500;
    color: #ffce1c;
    font-size: 26px;
    line-height: 26px;
    @media screen and (max-width: 767px) {
      font-size: 16px;
    }
  }

  .title {
    font-weight: 500;
    text-transform: uppercase;
    font-size: 26px;
    margin-bottom: 12px;
    display: flex;
    align-items: center;
    @media screen and (max-width: 1331px) {
      font-size: 23px;
      margin-bottom: 6px;
    }
  }

  .item {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    background-image: url("../img/card-background.png");
    background-size: 100% 100%;
    width: 100%;
    aspect-ratio: 435 / 154;
    padding: 25px;

    @media screen and (max-width: 1331px) {
      padding: 16px 25px;
    }

    + .item {
      margin-left: 10px;
    }

    .icon {
      position: absolute;
      right: 12px;
      top: 12px;
    }

  }
}


@media screen and (max-width: 1019px) {
  .product-page-bottom {
    padding: 30px 50px;
    margin: 30px 0;
    flex-direction: column;
  }
  .product-page-bottom .item + .item {
    margin: 30px 0 0;
  }
  .product-page-bottom p {
    white-space: initial;
    line-height: initial;
  }
  .product-page-bottom img {
    max-width: 100%;
  }
}

@media screen and (max-width: 767px) {
  .product-page-bottom {
    padding: 30px 0;
  }

  .product-page-bottom .title {
    font-size: 14px;
  }
}

@media screen and (max-width: 479px) {
  .product-page-bottom {
    padding: 30px 0;
  }
}

.product-page-info {
  padding-bottom: 50px;
}

.product-page-info .item {
  width: 100%;
  min-width: 33.333%;
}

.product-page-info .item + .item {
  min-width: calc(33.333% - 60px);
  max-width: calc(50% - 60px);
  margin-left: 30px;
  padding-left: 30px;
  background: url('../img/line-vert.png') no-repeat center left;
  background-size: auto 100%;
}

.product-page-info .item .title {
  font-weight: 500;
  font-size: 20px;
  text-transform: uppercase;
  color: #ffffff;
  padding-bottom: 24px;
}

.product-page-info .item .text {
  font-family: 'InterVariable', sans-serif;
  line-height: 20px;
  letter-spacing: 0.01em;
  color: rgba(255, 255, 255, 0.62);
  font-weight: 400;
}

.product-page-info .item .text ul {
  list-style-type: disc;
  list-style-position: inside;
}

@media screen and (max-width: 1019px) {
  .product-page-info {
    padding-bottom: 30px;
    flex-direction: column;
  }
  .product-page-info .item + .item {
    margin-left: 0;
    padding-left: 0;
    background: transparent;
    margin-top: 20px;
    min-width: initial;
    max-width: initial;
  }
  .product-page-info .item .title {
    font-size: 16px;
    padding-bottom: 10px;
  }
}

@media screen and (max-width: 767px) {
  .product-page-info {
    order: 2;
  }
  .product-page-info .item .text {
    font-size: 12px;
  }
}

.product-page-example {
  margin-bottom: 50px;
  width: 100%;
  height: fit-content;
}

.product-page-example .item {
  text-align: center;
}

.product-page-example .bottom {
  position: absolute;
  bottom: 60px;
  z-index: 2;
  width: 100%;
}

.product-page-example .bottom .desc {
  font-weight: 700;
  font-size: 18px;
  line-height: 132%;
  text-align: center;
  text-transform: uppercase;
  color: #FFFFFF;
  width: 282px;
  margin: 0 75px;
}

.product-page-example .bottom .button {
  width: 50px;
  height: 50px;
  border: 1px solid rgba(255, 255, 255, 0.4);
  color: #ffce1c;
  font-size: 12px;
}

.product-page-example .bottom .button:hover {
  background: #fff;
}

@media screen and (max-width: 767px) {
  .product-page-example {
    margin-bottom: 30px;
  }
  .product-page-example .bottom {
    bottom: 20px;
    padding: 0 10px;
  }
  .product-page-example .bottom .desc {
    font-size: 14px;
    max-width: 219px;
    margin: 0 20px;
  }
  .product-page-example .bottom .button {
    width: 32px;
    height: 32px;
    font-size: 10px;
  }
}

.product-page-claim {
  text-align: center;
  padding-bottom: 50px;
}

.product-page-claim .title {
  font-weight: 700;
  font-size: 20px;
  text-transform: uppercase;
  padding-bottom: 12px;
}

.product-page-claim .desc {
  font-family: 'InterVariable';
  line-height: 125%;
  color: rgba(255, 255, 255, 0.62);
  width: 270px;
  margin: 0 auto 40px;
}

.product-page-claim .list .item {
  width: calc(33.333% - 10px);
  padding: 59px 57px 48px;
  //background: rgba(255, 255, 255, 0.07);
  border-radius: 3px;
  background-image: url("../img/claim-card-background.png");
  background-size: 100% 100%;
}

.product-page-claim .list .item .image img {
  height: 38px;
  margin-bottom: 49px;
}

.product-page-claim .list .item .value {
  font-family: 'InterVariable';
  font-weight: 500;
  font-size: 26px;
  line-height: 1;
  padding-bottom: 8px;
}

.product-page-claim .list .item .value sup {
  font-size: 12px;
  font-weight: 300;
}

.product-page-claim .list .item .name {
  font-weight: 400;
  font-size: 16px;
  line-height: 20px;
  color: #FFFFFF9E;
}

@media screen and (max-width: 1331px) {
  .product-page-claim .list .item {
    width: calc(33.333% - 10px);
    padding: 50px;
  }
  .product-page-claim .list .item .image {
    display: flex;
    align-items: center;
    justify-content: center;
    height: 37px;
    margin-bottom: 20px;
  }
  .product-page-claim .list .item .image img {
    height: initial;
    margin-bottom: 0;
  }
  .product-page-claim .list .item .name {
    font-size: 16px;
  }
}

@media screen and (max-width: 767px) {
  .product-page-claim {
    order: 2;
  }
  .product-page-claim .list {
    flex-direction: column;
  }
  .product-page-claim .list .item {
    width: 100%;
    padding: 50px;
  }
  .product-page-claim .list .item + .item {
    margin-top: 16px;
  }
  .product-page-claim .list .item .image {
    height: initial;
  }
}

@media screen and (max-width: 479px) {
  .product-page-claim .title {
    font-size: 16px;
    padding-bottom: 5px;
  }
  .product-page-claim .desc {
    margin: 0 auto 20px;
    font-size: 12px;
  }
}

.input-group-quantity-default-xvr {
  span {
    &.input-group-btn {
      display: flex;
    }
  }
}
