@import "variables";

$mod-main-color: $main-color-light;
$mod-white-040: $white-040-light;
$mod-white: $white-light;
$mod-popup-bg: $popup-bg-light;
$mod-text-color: $text-color-light;
$mod-popup-close-btn-border: $popup-close-btn-border-light;

//$modifiable-main-color-075: $main-color-light-075;

@import "style-category-general";
