@import "variables";

$mod-main-color: $main-color-dark;
$mod-white-040: $white-040-dark;
$mod-white: $white-dark;
$mod-popup-bg: $popup-bg-dark;
$mod-text-color: $text-color-dark;
$mod-popup-close-btn-border: $popup-close-btn-border-dark;
$mod-product-default-border: $product-default-border-dark;

//$modifiable-main-color-075: $main-color-dark-075;

@import "style-category-general";
