@import "variables";

$mod-main-color: $main-color-light;
$mod-white-040: $white-040-light;
$mod-white: $white-light;
//$modifiable-main-color-075: $main-color-light-075;

@import "style-category-general";
