@import "variables";

$mod-main-color: $main-color-light;
$mod-main-color-050: $main-color-light-050;
$mod-main-color-010: $main-color-light-010;
$mod-text-color: $text-color-light;
$mod-quantity-gradient: $quantity-input-gradient-light;
$mod-product-wishlist-btn-bg: $product-wishlist-btn-bg-light;
$mod-product-wishlist-btn-icon: $product-wishlist-btn-icon-light;
$mod-product-review-bg: $product-review-bg-light;
$mod-gray-text: $text-gray-light;
$mod-card-bg: $card-bg-light;
$mod-claim-card-bg: $claim-card-bg-light;
$mod-claim-text: $claim-text-light;
$mod-consultation-bg: $consultation-bg-light;







@import "style-product-general";
