@import "variables";

$mod-main-color: $main-color-dark;
$mod-white-040: $white-040-dark;
$mod-white: $white-dark;
//$modifiable-main-color-075: $main-color-dark-075;

@import "style-category-general";
