@import "variables";

$mod-main-color: $main-color-dark;
$mod-main-color-filter: $main-color-dark-filter;
$mod-main-color-075: $main-color-dark-075;
$mod-main-color-010: $main-color-dark-010;
$mod-text-color: $text-color-dark;
$mod-icon-gray-general: $icon-gray-general-light;
$mod-header-text-color: $header-text-color-dark;
$mod-header-btn-hover-color: $header-btn-hover-color-dark;
$mod-header-btn-border-color: $header-btn-border-color-dark;
$mod-catalog-menu-background: $catalog-menu-background-dark;
$mod-home-slider-btn-border: $home-slider-btn-border-dark;
$mod-fixed-header: $fixed-header-dark;
$mod-fixed-header-before: $fixed-header-before-dark;
$mod-home-slider-bg: $home-slider-bg-dark;
$mod-home-slider-arrow: $home-slider-arrow-dark;
$mod-home-slider-pagination: $home-slider-pagination-dark;
$mod-home-product-nav-text: $home-product-nav-text-dark;
$mod-home-product-nav-border: $home-product-nav-border-dark;
$mod-product-default-bg: $product-default-bg-dark;
$mod-product-default-border: $product-default-border-dark;
$mod-product-default-hover-border: $product-default-hover-border-dark;
$mod-product-default-aditional-border: $product-default-aditional-border-dark;
$mod-example-product: $example-product-dark;
$mod-white-030: $white-030-dark;
$mod-subscribe-bg: $subscribe-bg-dark;
$mod-popup-bg: $popup-bg-dark;
$mod-popup-close-btn-border: $popup-close-btn-border-dark;
$mod-breadcrumbs: $breadcrumbs-dark;
$mod-breadcrumbs-active: $breadcrumbs-active-dark;
$mod-cart-item: $cart-item-bg-dark;
$mod-quantity-gradient: $quantity-input-gradient-dark;
$mod-iti-bg: $iti-bg-dark;
$mod-iti-input-bg: $iti-input-bg-dark;
$mod-autofil-bg: $autofill-bg-dark;




$theme: dark;

@import "style-general";

// Специфичные стили для темной темы
// Цвет для hover эффекта берется из $mod-main-color в style-general.scss
