@import "variables";

$mod-main-color: $main-color-light;
$mod-main-color-filter: $main-color-light-filter;
$mod-main-color-075: $main-color-light-075;
$mod-main-color-010: $main-color-light-010;
$mod-text-color: $text-color-light;
$mod-icon-gray-general: $icon-gray-general-light;
$mod-header-text-color: $header-text-color-light;
$mod-header-btn-hover-color: $header-btn-hover-color-light;
$mod-header-btn-border-color: $header-btn-border-color-light;
$mod-catalog-menu-background: $catalog-menu-background-light;
$mod-home-slider-btn-border: $home-slider-btn-border-light;
$mod-fixed-header: $fixed-header-light;
$mod-fixed-header-before: $fixed-header-before-light;
$mod-home-slider-bg: $home-slider-bg-light;
$mod-home-slider-arrow: $home-slider-arrow-light;
$mod-home-slider-pagination: $home-slider-pagination-light;
$mod-home-product-nav-text: $home-product-nav-text-light;
$mod-home-product-nav-border: $home-product-nav-border-light;
$mod-product-default-bg: $product-default-bg-light;
$mod-product-default-border: $product-default-border-light;
$mod-product-default-hover-border: $product-default-hover-border-light;
$mod-product-default-aditional-border: $product-default-aditional-border-light;
$mod-example-product: $example-product-light;
$mod-white-030: $white-030-light;
$mod-subscribe-bg: $subscribe-bg-light;
$mod-popup-bg: $popup-bg-light;
$mod-popup-close-btn-border: $popup-close-btn-border-light;
$mod-breadcrumbs: $breadcrumbs-light;
$mod-breadcrumbs-active: $breadcrumbs-active-light;
$mod-cart-item: $cart-item-bg-light;
$mod-quantity-gradient: $quantity-input-gradient-light;
$mod-iti-bg: $iti-bg-light;
$mod-iti-input-bg: $iti-input-bg-light;
$mod-autofil-bg: $autofill-bg-light;

$theme: light;

@import "style-general";

// Специфичные стили для светлой темы
// Цвет для hover эффекта берется из $mod-main-color в style-general.scss
